<% provide(:title, 'Edit Medication') %>
<% provide(:button_text, 'Save changes') %>
<h1>Edit Medication</h1>

<div class="row justify-content-md-center">
  <div class="col-md-10 col-md-offset-2">

<%= render 'form' %>

  </div>
</div>

