<% provide(:title, 'All Medications') %>
<%= render "shared/modal", size: 'lg' %>

<table class="tbl2 table-hover table-striped table-bordered" >
	<caption>Full list of medications </caption>
  <thead>
      <tr>
          <th class="tbl_md">Name</th>
          <th>Streng.</th>
	  <th>Dose</th>
	  <th>Freq.</th>
	  <th>Amount</th>
	  <th>Generic</th>
	  <th>Format</th>
	  <th>Route</th>
	  <th>Dur.Cnt</th>
	  <th>Dur.Unit</th>
	  <th>Refills</th>
	  <th>Type</th>
	  <% unless current_user.doctor? %>
	    <th class='tbl_sm'></th>
	  <% end %>
	  <% if  current_user.admin? %>
	     <th class='tbl_sm'></th>
     	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @drugs, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @drugs, class: "btn" %>
<%= button_to "Add Medication", new_drug_path, class: "btn btn-primary btn-block", method: :get %>
</div>
