<% provide(:title, 'New Medication') %>
<% provide(:button_text, 'Save') %>
<h1>New Medication </h1>

<div class="row justify-content-md-center">
	<div class="col-md-12 col-md-offset-2">

	<%= render 'form' %>

	</div>
</div>
