<% provide(:title, 'Edit provider') %>
<% provide(:button_text, 'Save changes') %>

<div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
<h3 class='display-1'><%= @provider.name %> : Edit Provider</h3>

<%= render 'form' %>

</div>
