<% provide(:title, 'Edit provider') %>
<% provide(:button_text, 'Save changes') %>
<h1><%= @provider.name %> : Provider Profile</h1>

<div class="row justify-content-sm-center">
  <div class="col-sm-10 col-sm-offset-3">

<%= render 'form' %>

  </div>
</div>

