<% provide(:title, 'New Insurance Provider') %>
<% provide(:button_text, 'Save') %>

<div class="col-sm-8 col-sm-offset-2">
<h3 class='diplay-1'>New Insurance Provider </h3>
	<%= render 'form' %>
</div>
