<div class="row" style="bottom: -20px; position: relative">
<div class="col-md-2 col-xs-3 col-md-offset-3 col-xs-offset-0">
<div style="width: 100px">
  <a href="https://doctors.cpso.on.ca/DoctorDetails/E-Ostapenko/0169356-74913" target="_new">
  <img src="/images/lena.png" width=65><br> My CPSO record</a>
</div>
</div>

<div class="col-md-2 col-xs-3">
<div style="width: 45px">
  <i class="glyphicon glyphicon-time" style="font-size:30px;"></i><small>Fast Callbacks</small>
</div>
</div>
<div class="col-md-2 col-xs-3">
<div style="width: 45px">
  <i class="glyphicon glyphicon-lock" style="font-size:30px;"></i><small>Secure OTN Platform</small>
</div>
</div>
<div class="col-md-2 col-xs-3">
<div style="width: 45px">
  <i class="glyphicon glyphicon-ok" style="font-size:30px;"></i><small>OHIP covered</small>
</div>
</div>
</div>


