<div class="row" style="bottom: -10px; position: relative; clear: both; width: 100%;">
<div class="col-md-1 col-xs-3 col-md-offset-5 col-xs-offset-2" style="vertical-align: bottom;">
  <!--
  <a href="https://doctors.cpso.on.ca/DoctorDetails/E-Ostapenko/0169356-74913" target="_new">
    <img src="/images/lena.png" width=65><br><small> My CPSO record</small></a>
</div>

<div class="col-md-1 col-xs-3">
  -->

  <i class="glyphicon glyphicon-time" style="font-size:30px;"></i><br><small>Fast Callbacks</small>
</div>
<div class="col-md-1 col-xs-3">
  <i class="glyphicon glyphicon-lock" style="font-size:30px;"></i><br><small>Secure OTN Platform</small>
</div>
<div class="col-md-1 col-xs-3">
  <i class="glyphicon glyphicon-ok" style="font-size:30px;"></i><br><small>OHIP covered</small>
</div>
</div>


