<div class="row">
<div class="card col-md-5  col-md-offset-7 bg-success">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="/images/happy.gif" class="img-fluid" />
  </div>
  <div class="card-body">
    <h4 class="card-title"><font color=red>Seasons Greetings!</font></h4>
    <p class="card-text">
    Happy New Year to all our patients! Warm wishes from all of us
    </p>
    <div class="pull-right"><i> Clinic staff </i></div>
  </div>
</div>
</div>
