<% provide(:title, 'Welcome') %>
<div class="hdr-text">Digital Walk-In Clinic for canadians <img src="/images/leaf.png" width=45> </div> 
<div class='spacer-10'></div>
<img src='/images/mobile_clinic.jpg' width="320" style="padding:10px"></img>

<div style="padding:10px;">
 <p> Need to see a doctor, but don't want to visit clinic during pandemic? You don't have to. You can now discuss your medical issue and renew your medications over the phone.</p>
  <p> Simply register with your OHIP card, confirm your email and login to make your first telephone appointment. Once registered, you will have access to your patient record and visit history. Our clinic served over 65000 patients over the last 15 years. </p>

<div align="center"> <%# link_to 'Yes! I want to talk to a doctor', new_user_registration_path, class: "btn btn-primary btn-lg" %> </div>

<div align="center" class="pt-4"><%= link_to 'Request Callback From Dr. Ostapenko', new_user_session_path, class: "btn btn-warning btn-lg" %></div>

<p class="pt-4"><b><i>We never send surprise bills for insured services! Free is free. </i></b> 
<p class="pt-3">Don’t have a health card? We still can help. Please call the number below and leave a message. We will respond as soon as we can. </p>

<h1> (289) 204-0561 </h1>

<div class='pt-5'>
<%= render "footer_icons" %>
</div>
