<% provide(:title, 'Welcome') %>

<div id="logo">Stoney Creek Medical Walk-In Clinic</div>

<div class="spacer-10"></div>
<div class="row">
  <div class="col-md-4">
<div id='homepic' style="padding:50px">
  <img src='/images/pharm.jpg'></img> 
</div>
</div>

<div class="col-md-8">
<div class="hdr-text"> 
  Medication Renewals Over The Phone
  <img src="/images/pills.png" width=50></img>
</div> 
<div class='spacer-20'></div>
<div class='spacer-20'></div>

<div>
<font size=3>
 <p> Did you know? You can now renew your medications over the phone. </p>
 <p> Simply register with your OHIP card, confirm your email and login. Request callback from doctor, discuss your needs and then just go to pharmacy near you to pick up your prescription. Simple as that! </p>

<div class='spacer-20'></div>
<div align="center"><%= link_to 'Yes! I want to renew my prescription now', new_user_session_path, class: "btn btn-warning btn-lg" %></div>

<div class='spacer-20'></div>

<p>Don’t have a health card? We still can help. Please call the number above and leave a message. We will respond as soon as we can. </p>

</font>

<div class='spacer-20'></div>
<div class='spacer-20'></div>

<%= render "footer_icons" %>


</div>
</div>

