<div id="visit_history_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">Visit History</div>
      </div>
      <div class="modal-body">
        <center><img src="/images/help/visit_history.png"></center>
	<p></p>
        <p>Visits are shown in chronological order, most recent first. Ref# denotes unique visit id, which can be used to access full information about the visit</p>
      </div>
    </div>
  </div>
</div>
