<div id="visit_summary_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">Visit Summary Page</div>
      </div>
      <div class="modal-body">
        <center><img src="/images/help/visit_summary.png" width=860></center>
	<p></p>
      </div>
    </div>
  </div>
</div>
