<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Please contact <a href="mailto:eosta@me.com?subject=Walk-In Inquiry&cc=ostadim1@gmail.com">Dr. Elena Ostapenko</a> if you have any questions or concerns about this website.
</p>
