<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Please contact <a href="mailto:eosta@me.com?subject=WALKIN_Inquiry&cc=ostadim1@gmail.com">Site admin</a> if you have any questions or concerns about this website
</p>
