<div class="spacer-10"></div>
<div id='logo' style="padding:20px">
<img src='/images/clinic.jpg' width="430px"></img>
</div>

<div class="hdr-text">We are open every day!  </div> 
</p>
<p style="font-size: 13px">
<pre>
No appointment is necessary, just come in with your health card
We welcome new patients with acute and/or chronic medical conditions 
We speak English, Polish, Ukrainian, Russian, Hindi, Urdu, Punjabi

<b>   9 AM to 8 PM, Monday through Friday
   9 AM to 1 PM, on Saturdays
   9 AM to 2 PM, Sundays & Holidays</b>

Please make sure to arrive half an hour before closing time.

Schedules are subject to change without notice. Please, call to confirm
<b>(905) 561-9255</b>
</pre>
</p>

<div style="width:700px; float:left; margin-left: 20px;">
<p>
<b>Doctors’ Schedules:</b>

<ul style="line-height: 1.6em">

<li>
<b>Dr. Ostapenko:</b>
Mondays: 2 PM – 8 PM / 9 AM - 2 PM (every second week)
Tuesdays: 2 PM – 8 PM
Thursdays: 2 PM – 8 PM
Sundays: 9 AM – 2 PM
Wednesdays: 3 PM – 8 PM
</li>

<li>
<b>Dr. Smith:</b>
Thursdays: 9 AM – 2 PM
</li>

<li>
<b>Dr. Sabira Ahmed:</b>
Wednesdays: 9 AM – 3 PM
</li>

<li>
<b>Dr. Samarasinghe:</b>
Every second Monday 2 PM – 8 PM
Tuesdays: 9AM - 2 PM
Friday: 2 PM - 8 PM
</li>

<li>
<b>Dr. Nainar:</b>
Saturdays: 9AM - 2PM
</li>

<li>
<b>Dr. Sadaf Ahmed:</b>
Fridays: 9 AM - 2PM
Every second monday 9AM - 2PM
</li>

<li>
<b>Dr. Ubhi: </b>
Wednesdays: 2 PM - 8 PM
Thursdays: 9 AM - 2PM
</li>
</div>
</p>
</ul>

<div align="right" style="padding:0; margin:0">
<img src='/images/map.png' width="230px"></img>
<div class="caption-text"><a href="https://medimap.ca/Stoney-Creek-Medical-Walk-In-Clinic" target="_new">Show current Wait Time</a></div>
</div>

