<div class="spacer-10"></div>
<div id='logo' style="padding:20px">
<img src='/images/clinic.jpg' width="450px"></img>
</div>

<div class="hdr-text">We are open every day!  </div> 
</p>
<p style="font-size: 13px">
<pre>
No appointment is necessary, just come in with your health card
We welcome new patients with acute and/or chronic medical conditions 
We speak many different languages.

Need a flushot? Come and get it. 
Flu shots and other injections are provided without wait 

<b> 9am to 8pm, Monday to Friday, 9am to 2pm on weekends & holidays</b>

Please make sure to arrive half an hour before closing time.
Schedules are subject to change without notice. 
Please, call to confirm: <b>(905) 561-9255</b>
</pre>
</p>

<%# people_waiting = Visit.where(status: ARRIVED).count rescue 0 %>
<section id='marquee'>
  <div class="container-fluid">
    <marquee direction="left"><h3> <%= Schedule::doc_on_duty %>  ... Flu shots and other injections are provided with no wait time </h3></marquee>
  </div>
</section>

  <div style="width:450px; float:left; margin-left: 500px;">
    <%= render "schedules/schedule" %>
  </div>

<div align="right" style="padding:0; margin:0">
  <img src='/images/map.png' width="300px"></img>
  <div class="caption-text"><a href="https://medimap.ca/Stoney-Creek-Medical-Walk-In-Clinic" target="_new">Show current Wait Time</a></div> 
</div>

