<div class="spacer-10"></div>
<div id='logo' style="padding:20px">
<img src='/images/clinic.jpg' width="480"></img>
</div>

<div class="hdr-text">We are open every day!  </div> 
	
<div class='spacer-20'></div>

<p class="medium">
No appointment is necessary, we service both Ontario and out of province patients.
New patients are welcome. Driver Medical Exam. We provide specialist referrals and speak many different languages.
Pharmacy is available on the premises. Need a flushot? We provide flu shots and other injections without wait.  
</p>

<p class="medium">
<h3>9am to 8pm, Mon-Fri, 9am to 2pm on weekends & holidays</h3>
</p>

<div class='spacer-10'></div>
<p class="medium">
We work together with the public Health Department and many specialists to satisfy the needs of our patients.
Please arrive half an hour before closing time.  Schedules are subject to change without notice. 
Call to confirm: <b>(905) 561-9255</b>
</p>

<div class='spacer-10'></div>

<%# people_waiting = Visit.where(status: ARRIVED).count rescue 0 %>
<p>

<section id='marquee'>
  <div class="container-fluid">
    <marquee direction="left"><h4> <%= Schedule::doc_on_duty %>  ... Flu shots and other injections are provided with no wait time </h4></marquee>
  </div>
</section>

<div class='spacer-20'></div>

<div align="right">
  <span style="width:500px; float:left; margin-left: 20px; ">
  <%= render "schedules/full_schedule" %>
  </span>
  
<div class='spacer-30'></div>
  <span style="width:250px; float:right; margin-right: 20px;">
  <img src='/images/map.png' width="240"></img>
  <div class="caption-text"><a href="https://medimap.ca/Stoney-Creek-Medical-Walk-In-Clinic" target="_new">Show current Wait Time</a></div> 
  </span>
</div>

