
<div class="center jumbotron">

  <h2>
    This is the home page for the
    <a href="<%= project_url  %>">Walk In EMR</a> project 
  </h2>

    Inspired by bow defunct Health Screen EMR, this application is web-based and built using Ruby on Rails with Postgres SQL back end

</div>

