
<h1> Welcome! </h1>
<pre>
We are open:

9 AM to 8 PM, Monday through Friday
9 AM to 1 PM, on Saturdays
9 AM to 2 PM, Sundays & Holidays

Doctors’ Schedules

Dr. Harpall Ubhi:
Wednesdays 3 PM – 8 PM
Thursdays 9 AM – 2 PM

Dr. Sabira Ahmed:
Wednesdays 9 AM – 3 PM

Dr. Samarasinghe:
Some Mondays 2 PM – 8  P

Dr. Ostapenko:
Mondays 9 AM – 2 PM
Tuesdays 9 AM – 2 PM
Thursdays 9 AM – 2 PM
Sundays 9 AM – 2 PM

Schedules are subject to change without notice. Please, call to confirm the hours.
(905) 561 9255
</pre>
