
<div class="center jumbotron">

  <h2>
    This is the home page for the
    <a href="<%= project_url  %>">Walk In EMR</a> project
    sample application.
  </h2>

  <%= link_to "User signup", signup_path, class: "btn btn-sm btn-primary" %>
</div>

