
<% if logged_in? %>
	
  <h1> Recent changes to Walk-In EMR </h1>

	<div class="panel panel-default">
		<div class="panel-body news-panel-body">
			
			<li> PDF documents can now be attached to the visit. Amazon S3 cloud service is used for storage.</li>
			<li> Validation added to allow only 1 visit per patient per day</li>
			<li> Delete links removed from day sheet - use "cancelled" status instead</li>
			<li> Validation added for visits requiring diagnosis </li>
			<li> date/time input added for new visits</li>
			<li> Logout link moved down to footer </li>
			<li> Pdf Reports are now generated right after creation and downloaded to client; No intermediate Show Report step </li>
			<li> Pay stubs are now generated in <b>Docs>Paystubs</b> if new RA file was processed and paid claims imported for the latest billing cycle </li>
			<li> Chart column link added to patient index. Link will be shown if chart is available </li>
			<li> For processed claims, visit status will now show the link to paid claim, if one is available </li>
			<li> Separate section added for Reference links in the header. Section includes: procedures, diagnoses, Insurance providers, Medications and Vaccines </li>
			<li> RA file is now imported from the ministry site. Claims and services are available for the last 2 billing cycles </li>
			<li> Previously unbilled visits are shown in daysheet now </li>
			<li> 4 new 3rd Party procedures: G10, G20, G30, G50. Use for cash services with multiple units to get the right amount. Receipt will show reason for the visit in description and visit notes in notes box </li>
			<li> Patient search box now supports searches by full or partial ohip number, last name[, first name], last name can now contain spaces, search by DOB: dd-mm-yyyy or dd-mmm-yyyy (abbrev string or digits for month) </li>
			<li> Daily charts added until May 15 2006 </li>
			<li> Merged patients records with and without ohip number </li>
			<li> Address label added to patients index page </li>
			<li> All forms open in a separate tab called "Form"; Labels open in "Label" tab </li>
			<li> Invoices: now attributed to patients, not visits. Go to patient profile and click on "Create Invoice" button. PDF files are stored on the server. "Invoice" billing type removed from visit form </li>
			<li> "Reports" link in a header renamed to "Documents" drop-down. It now has 3 categories: Reports, Invoices and Daily Charts </li>
			<li> Patient's age is now shown in months or years. Negative integer is used internally to denote age in months. Please alert me if you see negative numbers for age anywhere </li>
			<li> Label modified: different, larger font, smaller width, middle name is now omitted </li>
			<li> Links added to day sheet for current day only: Label, Form. Both open in a new tab  </li>
			<li> Delete links for visits are not accessible anymore in previous days </li>
			<li> Visit status 'Error' added to mark visits with errors found in Cab.md/MOH </li>
			<li> 'Clinic' patient type added </li>
			<li> When card is swiped, search is now performed for patient with the same last name and DOB. Warning message issued if match found </li>
			<li> Card fields are now compared with our records. Warning message and edit form are shown if mismatch is found</li>
		</div>
	</div>
	
	Please email <a href="mailto:dosta@me.com?subject=EMR staff Inquiry&cc=ostadim1@gmail.com">Dimitri</a> if you have any questions or concerns about this website. 
	If there's a problem, please provide screenshot, short description and health card string swiped right into email message body.
	 
	Thank you!

<% end %>
