
<% if logged_in? %>
	
  <h1> Recent changes to Walk-In EMR </h1>

	<div class="panel panel-default">
		<div class="panel-body news-panel-body">

			<li> Patient search box now supports searches by full or partial ohip number, last name[, first name], last name can now contain spaces, search by DOB: dd-mm-yyyy or dd-mmm-yyyy (abbrev string or digits for month) </li>
			<li> Daily charts added until May 15 2006 </li>
			<li> Merged patients records with and without ohip number </li>
			<li> Address label added to patients index page </li>
			<li> All forms open in a separate tab called "Form"; Labels open in "Label" tab </li>
			<li> Invoices: now attributed to patients, not visits. Go to patient profile and click on "Create Invoice" button. PDF files are stored on the server. "Invoice" billing type removed from visit form </li>
			<li> "Reports" link in a header renamed to "Documents" drop-down. It now has 3 categories: Reports, Invoices and Daily Charts </li>
			<li> Patient's age is now shown in months or years. Negative integer is used internally to denote age in months. Please alert me if you see negative numbers for age anywhere </li>
			<li> Label modified: different, larger font, smaller width, middle name is now omitted </li>
			<li> Links added to day sheet for current day only: Label, Form. Both open in a new tab  </li>
			<li> Delete links for visits are not accessible anymore in previous days </li>
			<li> Visit status 'Error' added to mark visits with errors found in Cab.md/MOH </li>
			<li> 'Clinic' patient type added </li>
			<li> When card is swiped, search is now performed for patient with the same last name and DOB. Warning message issued if match found </li>
			<li> Card fields are now compared with our records. Warning message and edit form are shown if mismatch is found</li>
		</div>
	</div>
	
	Please email <a href="mailto:dosta@me.com?subject=EMR staff Inquiry&cc=ostadim1@gmail.com">Dimitri</a> if you have any questions or concerns about this website. 
	If there's a problem, please provide screenshot, short description and health card string swiped right into email message body.
	 
	Thank you!

<% end %>
