<h3>Family doctors accepting new patients in Hamilton </h3>
<pre>
  <b>Hamilton</b>

  Dr. Ayman Soliman
  City: Hamilton
  Phone: (905)574-3000
  Address: 1394 Upper Gage Ave. Unit #7 
  Gender: M
  Notes: Family Physician accepting new patients, walk-ins, and planned appointments accepted. Dr. Soliman is Fluent in English and Arabic.

  Dr. Craig Karpilow
  City: Hamilton
  Phone: 905 526 6250
  Address: Wilson Medical Centre - 130 Wilson Street 
  Gender: M

  Dr. Kien Trinh
  City: Hamilton
  Phone: 905 648 4425
  Address: Ancaster Sport Med Centre - 455 King St. W 
  Gender: M
  Notes: Focused practice in Geriatrics Medicine. Call the office to book an appointment. Temporary address until October 2022- relocating to 737 Golf Links Rd. Ancaster, On. L9K 1L5.

  Dr. Meriam Basta
  City: Hamilton
  Phone: 905 574 3000
  Address: 7-1394 upper Gage avenue 
  Gender: F
  Notes: New patients contact the office to book an appointment 905-574-3000

  Dr. Mohsin Dhalla
  City: Hamilton
  Phone: 905-578-5776
  Address: 1575 Upper Ottawa St. Unit A5 
  Gender: M
  Notes: Requests may be sent by e-mail: doctor@dhalla.org

  Dr. Olayinka Dada
  City: Hamilton
  Phone: 905-544-2974
  Address: 150 - 905 Rymal Road East 
  Gender: M

  Dr. Sam Aderibigbe
  City: Hamilton
  Phone: 905 522 8906
  Address: 304 Victoria Ave. N. #502 
  Gender: M

  <b>Stoney Creek</b>

  Dr. Farhan Maqbool
  City: Stoney Creek
  Phone: (905)930-9669
  Address: Battlefield Medical Centre - 72 King St. West 
  Gender: M

  Dr. Steven Zizzo
  City: Stoney Creek
  Phone: (905)575-9004
  Address: 325 Winterberry Dr., Suite 206 
  Gender: M
  Website: http://www.winterberrymedical.ca
  Notes: Winterberry Family Medicine LGBTQ positive space providing virtual, in-office, and home care. 
         Multidisciplinary team with both male and female providers.
         For more information and to register please visit www.winterberrymedical.ca

</pre>
