<div class="help-container">
<div class='header'>Walk-In EMR Privacy Policy</div>
<div class="updated"> Effective Date: December 4, 2018</div>


<h4>Introduction</h4>

<p>
Walk-In EMR Inc. and its affiliates (“Walk-In EMR ”) are committed to protecting the privacy of all individuals who:

<ul>
	<li>visit any websites or mobile sites offered by Walk-In EMR , including without limitation drlena.com, and including all subdomains, present and future (the “Website”);</li>
	<li>use the mobile applications that Walk-In EMR makes available from time to time (the "Applications"); and</li>
	<li>use the Services including Online Check-in and other Walk-In EMR  products and services that Walk-In EMR makes available from time to time (the "Features");</li>
</ul>

<p>
To make this policy easier to read, we call the Website, the Applications and the Features together the "Services". When we talk about “Personal Information”, we mean information relating to you or other identifiable individuals.

<p>
It is Walk-In EMR ’spolicy to respect your privacy and the privacy of all users of the Services. This Privacy Policy has been established to help you understand our commitment to protecting your privacy and personal data, and the steps we take to ensure it. By visiting and/or using any of the Services, you agree to be bound by the terms of the present Privacy Policy (the “Privacy Policy”). Where the present Privacy Policy refers to “Walk-In EMR ”, it may refer to the Services or to Walk-In EMR Inc., depending on the context.

<p>
Walk-In EMR  reserves the right, at any time, to modify or replace the Privacy Policy. The most recent version of the Privacy Policy is available at  walkin.drlena.com/privacy. Please check the Privacy Policy periodically for changes, though we will also notify you via email or other direct electronic communication method of any changes that, in our sole discretion, materially impact your use of the Services or the treatment of your Personal Information. Your use of the Services following the posting of any changes to the Privacy Policy constitutes acceptance of those changes.

<p>
Walk-In EMR’s Privacy Policy forms part of its wider terms of service. If you use or access any other websites, mobile sites, mobile applications, products or services offered by Walk-In EMR Inc., these terms of service are available at https://walkin.drlena.com/terms. Additional terms may apply to other Services purchased. To make this policy easier to read, any applicable Walk-In EMR  terms of service are referred to as the “Terms”. Both the Terms and the Privacy Policy apply to your use of the Services.

<p>
<h4>Walk-In EMR  Data and Customer Content</h4>

<p>
We collect Personal Information (such as online registration information) from our customers and users of the Services for our own purposes, such as to provide and administer the Services (“Walk-In EMR  Data”). We’re the data controller in respect of this information.

<p>
<h4>About this Privacy Policy</h4>

<p>
This Privacy Policy describes how and when Walk-In EMR  collects, uses and shares Walk-In EMR  Data when you use the Services. Walk-In EMR receives your information through our Website, Applications and Features.

<p>
<h4>Walk-In EMR Data we receive or collect</h4>

<p>
When you use Walk-In EMR’s Services we collect your IP address and standard web log information, such as your browser type, as well as information we may receive relating to communications you send us, such as queries or comments concerning our Services.  If you use our online check-in feature, we collect the following types of information:

<ul>
<li>your full name, date of birth, email address and other contact details</li>
<li>the geographic area where you use your computer and mobile devices</li>
<li>a unique Walk-In EMR  user ID (an alphanumeric string) which is assigned to you upon registration</li>
<li>your IP Address and, when applicable, timestamp related to your online check-in confirmation</li>
<li>other information submitted by you or your organizational representatives via various methods (phone, email, online forms, surveys, in-person meetings, etc)</li>
<li>information we may receive relating to communications you send us, such as queries or comments concerning our Services</li>
<li>information relating to an individual’s real time location</li>
</ul>

<p>
Walk-In EMR  also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website and the Applications, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the web page from which you came, the regions from which you navigate the web page, and the web page(s) you access (as applicable).

<h4>How we use Walk-In EMR  Data</h4>

Walk-In EMR  uses Walk-In EMR  Data for the following general purposes:

<ul>
	<li>to enable us to operate the Services and provide them to you</li>
	<li>to identify you when you check-in online</li>
	<li>to verify your transactions and for purchase confirmation, billing, security, and authentication</li>
	<li>to analyze the Website or the other Services and information about our visitors and users, including research into our user demographics and user behaviour in order to improve our content and Services</li>
	<li>to contact you about your account and provide customer service support, including responding to your comments and questions</li>
	<li>to share aggregate (non-identifiable) statistics about users of the Services to prospective advertisers and partners</li>
	<li>to keep you informed about the Services, features, surveys, newsletters, offers, contests and events we think you may find useful or which you have requested from us</li>
	to sell or market Walk-In EMR  products and services to you</li>
	<li>to better understand your needs and the needs of users in the aggregate, diagnose problems, analyze trends, improve the features and usability of the Services, and better understand and market to our customers and users</li>
	<li>to keep the Services safe and secure</li>
</ul>

<p>
We also use non-identifiable information gathered for statistical purposes to keep track of the number of visits to the Services with a view to introducing improvements and improving usability of the Services. We may share this type of statistical data so that our partners also understand how often people use the Services, so that they, too, may provide you with an optimal experience.

<p>
<h4>Consent</h4>

<p>
By using any of the Services, or submitting or collecting any Personal Information via the Services, you consent to the collection, transfer, storage disclosure, and use of your Personal Information in the manner set out in this Privacy Policy. If you do not consent to the use of your Personal Information in these ways, please stop using the Services.

<p>
<h4>When we may share Personal Information</h4>

<p>
Except as provided in this Privacy Policy, Walk-In EMR  does not divulge any Personal Information gathered via the Services to third parties.

<p>
Notwithstanding anything in the Privacy Policy to the contrary, we may share any information we have collected about you:

<ol>
	<li type='I'>when you explicitly consent to the disclosure of such information to a third party;</li>
	<li type='I'>where we are legally required to do so, such as in response to court orders or legal process, or to establish, protect, or exercise our legal rights or to defend against legal claims or demands;</li>
	<li type='I'>if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, fraud, or situations involving potential threats to the rights, property, or personal safety of any person;</li>
	<li type='I'>if we believe it is necessary to investigate, prevent, or take action regarding situations that involve abuse of the Services infrastructure or the Internet in general (such as voluminous spamming, denial of service attacks, or attempts to compromise the security of the Website infrastructure or the Services generally);</li>
	<li type='I'>to a parent company, subsidiaries, joint ventures, or other companies under common control with Walk-In EMR ;</li>
	<li type='I'>if we are acquired by or merged with another entity (in which case we will require such entity to assume our obligations under this Privacy Policy or inform you that you are covered by a new privacy policy); and</li>
	<li type='I'>if this information is not private, is aggregated or is otherwise non-Personal Information, such as the number of users who clicked on a particular link (even if only one did so).</li>
</ol>

<p>
Subject to obligations consistent with this Privacy Policy, we may also disclose information to our affiliates, agents, contractors, and service providers in order to facilitate the functioning of the Services or to perform tasks that are integral to the Services, such as processing transactions, fulfilling requests for information, or providing support services or other tasks, from time to time.

<p>
<h4>Security</h4>

<p>
We use industry best practices to keep any information collected and/or transmitted secure.
When payments are processed via credit card, Walk-In EMR  uses third-party vendors that are PCI-DSS Compliant. At no point does Walk-In EMR  have access to your credit card information.

<p>
You should bear in mind that submission of information over the Internet is never entirely secure.  We cannot guarantee the security of information you submit via the Services whilst it is in transit over the Internet and any such submission is at your own risk, and this risk is specifically disclaimed in our Terms.

<p>
<h4>Your rights</h4>

<p>
You can contact us to obtain a copy of the Personal Information held about you by us. This may be subject to a fee not exceeding any prescribed fee permitted by applicable law. You can also ask us to correct and, where relevant, erase that information. Please note that certain Personal Information may need to be retained by Walk-In EMR for a period of time following cancellation of your account where this is necessary for our legitimate business purposes or required or authorized by applicable law. You have a right to change your email preferences at any time.
