<div class="help-container">
<div class='header'>Walk-In EMR Terms of Use</div>
<div class="updated"> Effective Date: December 4, 2018</div>

<h3>Terms of use</h3>
<p>
These terms and conditions and all applicable service-specific terms (“Terms of Service” or “Agreement”) govern your access to and use of any websites, mobile sites, mobile applications, products or services offered by Walk-In EMR. (“Walk-In EMR ” “we” “us”) based on the services you used or purchased (the “Services”). 
</p>

<p>
BY ACCESSING AND USING THE SERVICES IN ANY MANNER, YOU ARE "ACCEPTING" AND AGREEING TO BE BOUND BY THESE TERMS OF SERVICE TO THE EXCLUSION OF ALL OTHER TERMS. IF YOU DO NOT UNCONDITIONALLY ACCEPT THESE TERMS IN THEIR ENTIRETY, YOU SHALL NOT (AND SHALL HAVE NO RIGHT TO) ACCESS OR USE THE SERVICES. IF THE TERMS OF THIS AGREEMENT ARE CONSIDERED AN OFFER, ACCEPTANCE IS EXPRESSLY LIMITED TO SUCH TERMS. THESE TERMS SHOULD BE READ IN CONJUNCTION WITH WALKIN EMR'S PRIVACY POLICY AND COPYRIGHT POLICY.
</p>

<p>
Wherever used in these Terms of Service, “you”, “your”, “Customer”, or similar terms means the person or legal entity accessing or using the Services.  If you are accessing and using the Services on behalf of a company (such as your employer) or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms of Service.
</p>

<p>
We reserve the right, at any time, to update and change any or all of these Terms of Service, in our sole discretion, including but not limited to the fees and charges associated with the use of the Services.
</p>

<ol>
	<li><b>Definitions</b></li>

 “Fair Use Policy” means the limits placed on usage as described in Section 2.4.

“Services” means services provided to you by Walk-In EMR, excluding Third-Party Services.

<p>&nbsp;</p>
<li><b>Walk-In EMR  Services</b></li>
<p>
<ul><b>2.1 Services.</b> During the Term, subject to the terms and conditions of this Agreement, and solely for your personal or internal business purposes, Walk-In EMR  grants you and your Authorized Users a right to access and use our Services.</ul>

<p>
<ul><b>2.2 Updates and Functionalities.</b> You acknowledge that from time to time Walk-In EMR  may apply updates to the Services and that such updates may result in changes in the appearance and/or functionality of the Services (including the addition, modification, or removal of functionality, features, or content).</ul>

<p>
<ul><b>2.3 Acceptable Use.</b> You shall (i) be responsible for your compliance with these Terms of Service, including the Fair Use Policy; (ii) be solely responsible and liable for all activity conducted through your account in connection with the Services; and (iii) use the Services only in accordance with applicable laws and government regulations.  You must not (a) use the Services to store or transmit any content that may be infringing, defamatory, threatening, harmful, or otherwise tortious or unlawful, including any content that may violate intellectual property, privacy, rights of publicity, or other laws, or send spam or other unsolicited messages in violation of applicable law; (b) upload to, or transmit from, the Services any data, file, software, or link that contains or redirects to a virus, Trojan horse, worm, or other harmful component; (c) attempt to reverse engineer, de-compile, hack, disable, interfere with, disassemble, copy, or disrupt the integrity or the performance of the Services; (d) access the Services in order to build a competitive product or service or copy any ideas, features, functions, or graphics of the Services; (e) attempt to gain unauthorized access to the Services or its related systems or networks; or (f) authorize, permit, or encourage any third party to do any of the above.</ul>

<p>
<ul><b>2.4 Fair Use Policy.</b> Walk-In EMR may suspend your access to the Services for abusive practices that degrade the performance of the Services for you and/or other customers of Walk-In EMR .</ul>

<p>
<ul><b>2.5 Non-Exclusivity.</b> You acknowledge that the rights granted to you under this Agreement are non-exclusive and that nothing in this Agreement will be interpreted or construed to prohibit or in any way restrict Walk-In EMR’s right to license, sell, or otherwise make available the Services to any third party or perform any services for any third party.</ul>

<li><b>Intellectual Property</b></li>

<p>
<ul><b>3.1 Walk-In EMR Services.</b> As between you and Walk-In EMR , Walk-In EMR  retains all right, title, and interest in and to the Services. Nothing herein shall be construed to restrict, impair, encumber, alter, deprive, or adversely affect the Services or any of Walk-In EMR’s rights or interests therein or any other Walk-In EMR intellectual property, brands, information, content, processes, methodologies, products, goods, services, materials, or rights, tangible or intangible. All rights, title, and interest in and to the Services not expressly granted in this Agreement are reserved by Walk-In EMR .</ul>

<li><b>Services</b></li>

<p>
<ul><b>4.1 Online Paid Services.</b>  For paid Services purchased online (“Online Services”), you must provide Walk-In EMR  with a valid credit card or other payment method (e.g., PayPal account) to pay for such services. Some Services may be available as a one-time purchase, and others can be purchased as a monthly or yearly subscription. You agree that Walk-In EMR  has permission to retain and/or share with financial institutions and payment processing firms (including any institutions or firms Walk-In EMR retains in the future) your submitted payment information in order to process your purchase. Depending on where you transact with us, the type of payment method used and where your payment method was issued, your transaction with us may be subject to foreign exchange fees or differences in prices, including because of exchange rates. Walk-In EMR  does not support all payment methods, currencies, or locations for payment. If the payment method you use with us, such as a credit card, reaches its expiration date and you do not edit your payment method information or cancel or downgrade your account to a charge-free account, you authorize Walk-In EMR to continue billing your credit card and/or PayPal account and you remain responsible for any uncollected amounts. All applicable taxes are calculated based on the billing information you provide us at the time of purchase.</ul>

<p>
<li><b>Term</b></li>

<p>
<ul><b>5.1 Termination.</b> If you violate the letter or spirit of this Agreement, abuse the Services, or otherwise create risk or possible legal exposure to Walk-In EMR , we can terminate or suspend your access to the Services at our sole discretion. We will use commercially reasonable efforts to notify you by email or at the next time you attempt to access your account. You may also cancel or disable Services at any time.</ul>

<p>
<ul><b>5.2 Effects of Termination.</b> Upon termination of this Agreement for any reason, (i) you will immediately cease all use of the Services; (ii) you will have no further access to your accounts provided by Walk-In EMR ; and (iii) you will pay Walk-In EMR  all unpaid amounts owing to Walk-In EMR.</ul>

<p>
<ul><b>5.3 Survival.</b> Any provision of this Agreement which, either by its terms or to give effect to its meaning, must survive, and such other provisions which expressly, or by their nature, are intended to survive termination shall survive the expiration or termination of this Agreement.</ul>

<p>
<li><b>Warranty Disclaimer</b></li>

SOME COUNTRIES AND JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS AND AS A RESULT THE CONTENTS OF THIS SECTION MAY NOT APPLY TO YOU. EXCEPT AS EXPRESSLY PROVIDED HEREIN, TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW, WALKIN EMR EXPRESSLY EXCLUDES AND DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WALKIN EMR SPECIFICALLY DISCLAIMS ALL EXPRESS OR IMPLIED WARRANTIES OF DESIGN, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUALITY, AND NONINFRINGEMENT, THAT ITS SERVICES WILL MEET YOUR REQUIREMENTS, OR THAT ITS SERVICES WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE, OR ERROR-FREE. IN ADDITION, WALKIN EMR DOES NOT WARRANT ANY CONNECTION TO OR TRANSMISSION FROM THE INTERNET. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM WALKIN EMR OR ELSEWHERE WILL CREATE ANY WARRANTY OR CONDITION NOT EXPRESSLY STATED IN THIS AGREEMENT. EXCEPT AS EXPRESSLY PROVIDED HEREIN, THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY PROVIDED HEREIN. WALKIN EMR DISCLAIMS ANY AND ALL RESPONSIBILITY OR LIABILITY IN RELATION TO THE CONTENT MADE AVAILABLE THROUGH THE SERVICES, INCLUDING THE CUSTOMER CONTENT AND MENTIONS, OR ANY CONTENT OR SERVICES PROVIDED BY THIRD PARTIES. WALKIN EMR DOES NOT CONTROL OR VET CUSTOMER CONTENT OR MENTIONS AND IS NOT RESPONSIBLE FOR WHAT USERS POST, TRANSMIT, OR SHARE ON OR THROUGH THE SERVICES. WALKIN EMR IS NOT RESPONSIBLE OR LIABLE IN ANY MANNER FOR ANY THIRD-PARTY SERVICES OR SUPPORTED PLATFORMS ASSOCIATED WITH OR UTILIZED IN CONNECTION WITH THE SERVICES, INCLUDING THE FAILURE OF ANY SUCH THIRD-PARTY SERVICES OR SUPPORTED PLATFORMS. WALKIN EMR EXPRESSLY DENIES ANY RESPONSIBILITY RESULTING FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN. IF YOU ARE DISSATISFIED OR HARMED BY WALKIN EMR OR ANYTHING RELATED TO WALKIN EMR, YOU MAY CANCEL YOUR WALKIN EMR ACCOUNT AND TERMINATE THIS AGREEMENT IN ACCORDANCE WITH SECTION 5.2 (TERMINATION) AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY (AND WALKIN EMR’S SOLE AND EXCLUSIVE LIABILITY).

<p>
<li><b>Indemnification</b></li>

<p>
<ul><b>7.1 Your Indemnification.</b> You shall defend, indemnify, and hold harmless Walk-In EMR , its affiliates, directors, officers, employees, and agents from and against all claims, losses, damages, penalties, liability, and costs, including reasonable attorneys’ fees, of any kind or nature which are in connection with or arising out of a claim alleging that your use of the Services infringes or violates the intellectual property rights, privacy rights, or other rights of a third party or violates applicable law.</ul>

<p>
<li><b>Limitation of Liability</b></li>

<p>
SOME COUNTRIES DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY IN CONTRACTS WITH CONSUMERS AND AS A RESULT THE CONTENTS OF THIS SECTION MAY NOT APPLY TO YOU.  TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL WALKIN EMR'S AGGREGATE LIABILITY FOR ALL CLAIMS OF ANY KIND, INCLUDING ANY CLAIMS ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER BY STATUTE, CONTRACT, TORT, OR UNDER ANY OTHER THEORY OF LIABILITY, EXCEED THE GREATER OF (A) THE FEEDS PAID BY YOU FOR THE SERVICES HEREUNDER DURING THE THREE (3) MONTH PERIOD IMMEDIATELY PRECEEDING THE DATE ON WHICH THE CAUSE OF ACTION AROSE AND (B) CA$500. WALKIN EMR DOES NOT OFFER ANY WARRANTY OR REMEDIES FOR THE INTERRUPTION OR CESSATION OF ACCESS OR TRANSMISSION TO OR FROM THE SERVICES.

<p>
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL WALKIN EMR, ITS DIRECTORS, EMPLOYEES, AGENTS, OR LICENSORS BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING DAMAGES FOR LOSS OF PROFITS, GOODWILL USE, OR DATA OR OTHER INTANGIBLE LOSSES, THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THE SERVICES OR ANY OTHER ASPECT OF THIS AGREEMENT. UNDER NO CIRCUMSTANCES WILL WALKIN EMR BE RESPONSIBLE FOR ANY DAMAGE, LOSS, OR INJURY RESULTING FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.

THE PARTIES ACKNOWLEDGE AND AGREE THAT THE ESSENTIAL PURPOSE OF THIS SECTION IS TO ALLOCATE THE RISKS UNDER THESE TERMS BETWEEN THE PARTIES AND LIMIT THEIR POTENTIAL LIABILITY GIVEN THE FEES CHARGED UNDER THIS AGREEMENT, WHICH WOULD HAVE BEEN SUBSTANTIALLY HIGHER IF WALKIN EMR WERE TO ASSUME ANY FURTHER LIABILITY OTHER THAN AS SET FORTH HEREIN. THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER INTO THESE TERMS. NOTHING IN THIS AGREEMENT IS INTENDED TO EXCLUDE OR RESTRICT OR SHALL BE CONSTRUED AS EXCLUDING OR RESTRICTING THE LIABILITY OF WALKIN EMR FOR (I) DEATH OR PERSONAL INJURY CAUSED BY THE NEGLIGENCE OF WALKIN EMR, ITS EMPLOYEES, OR ITS AGENTS; (II) WILLFUL MISCONDUCT OF WALKIN EMR; OR (III) ANY LIABILITY WHICH CANNOT BE LIMITED OR EXCLUDED BY APPLICABLE LAW.

<p>
<li><b>General</b></li>

<ul><b>9.1 Assignment.</b> You may not assign or otherwise transfer any of your rights or obligations hereunder, whether by merger, sale of assets, change of control, operation of law or otherwise, without the prior written consent of Walk-In EMR  (not to be unreasonably withheld), and any attempted assignment or transfer without such consent will be void. Walk-In EMR  may freely assign or delegate all rights and obligations under this Agreement, fully or partially without notice to you. Walk-In EMR  may also substitute, by way of unilateral novation, effective upon notice to you, Walk-In EMR Inc. for any third party that assumes our rights and obligations under this Agreement.</ul>

<p>
<ul><b>9.2 Severability.</b> Each provision of this Agreement is severable. If any provision of this Agreement is or becomes illegal, invalid, or unenforceable in any jurisdiction, the illegality, invalidity, or unenforceability of that provision will not affect the legality, validity, or enforceability of the remaining provisions of this Agreement or of that provision in any other jurisdiction.</ul>

<p>
<ul><b>9.3 Waivers.</b> No waiver of any provision of this Agreement is binding unless it is in writing and signed by all parties to this Agreement, except that any provision which does not give rights or benefits to particular parties may be waived in writing, signed only by those parties who have rights under, or hold the benefit of, the provision being waived if those parties promptly send a copy of the executed waiver to all other parties. No failure to exercise, and no delay in exercising, any right or remedy under this Agreement will be deemed to be a waiver of that right or remedy. No waiver of any breach of any provision of this Agreement will be deemed to be a waiver of any subsequent breach of that provision or of any similar provision.</ul>

<p>
<ul><b>9.4 Nature of Relationship.</b> No agency, partnership, joint venture, or employment relationship is created as a result of this Agreement and neither party has any authority of any kind to bind the other in any respect.</ul>

<p>
<ul><b>9.5 Force Majeure.</b> Except for payment obligations, neither party shall be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond such party’s reasonable control, including the elements; fire; flood; severe weather; earthquake; vandalism; accidents; sabotage; power failure; denial of service attacks or similar attacks; Internet failure; acts of God and the public enemy; acts of war; acts of terrorism; riots; civil or public disturbances; strikes, lock-outs, or labour disruptions; and any laws, orders, rules, regulations, acts, or restraints of any government or governmental body or authority, civil or military, including the orders and judgments of courts.</ul>

<p>
<ul><b>9.6 Governing Law.</b> This Agreement and your relationship with Walk-In EMR  shall be governed exclusively by, and will be enforced, construed, and interpreted exclusively in accordance with, the laws applicable in the province of Ontario, Canada and shall be considered to have been made and accepted in Ontario, Canada, without regard to its conflict of law provisions. All disputes under this Agreement will be resolved by the courts of Ontario in Hamilton. In any action or proceeding to enforce rights under this Agreement, the prevailing party shall be entitled to recover costs and attorneys’ fees.</ul>

<p>
<ul><b>9.7 Entire Agreement.</b> The terms of this Agreement, together with any service-specific terms, any applicable Authorization Form, all exhibits, and Walk-In EMR’s privacy policy and copyright policy, constitute the entire agreement between the parties with respect to the use of the Services and supersede any prior or inconsistent agreements, negotiations, representations, and promises, written or oral, with respect to the subject matter and is binding upon the parties and their permitted successors and assigns. In the event of any conflict between this Agreement and the terms of an Authorization Form, the provisions of the Authorization Form shall prevail. The terms of this Agreement will apply to all orders you submit to Walk-In EMR  and shall supersede any additional terms, which may be incorporated in a purchase order form, or any other form you generate. Any such terms shall be null and void.</ul>

<p>
<ul><b>9.8 Use of Clinic Information.</b> Walk-In EMR  acts as a collector and aggregator of patient data. This data includes, but is not limited to, patient demographics, medical history, and other information related to patient care. Walk-In EMR  reserves the right to use any patient data and other information that is made available or otherwise provided to Walk-In EMR by participating patients as we see fit and in our sole discretion. </ul>
</ol>
</div>

<p><ul><b>9.8 Telemedicine services </b>  
  <ol>
    <li> Client understands that the laws that protect privacy and the confidentiality of medical information also apply to telemedicine, and that no information 
    obtained in the use of telemedicine which identifies him/her will be disclosed to researchers or other entities without their consent. </li>
    <li> Client understands that he/she has the right to withhold or withdraw consent to the use of telemedicine in the course of his/her care at any 
time, without affecting their right to future care or treatment. </li>
    <li> Client understands that he/she has the right to inspect all information obtained in the course of a telemedicine interaction, and may receive 
  copies of this information for a reasonable fee. </li>
    <li> Client understands that they may choose to make an in­person appointment at any time. </li>
    <li> Client understands that the doctor may recommend that they schedule an in­person appointment to address issues that cannot be adequately addressed through telemedicine.  </li>
    <li> Client understands that telemedicine involves encrypted electronic communication of their personal medical information. </li>
    <li> Client understands that they may expect the anticipated benefits from the use of telemedicine in their care, but that no results can be guaranteed or assured. </li>
    <li> Client agrees that any dispute arriving from the telemedicine consult will be resolved in the Province of Ontario. </li>
  </ol>
</ul>
<p>&nbsp;</p>
