<div class="spacer-30"></div>
<%# form_with url: daysheet_index_path do |f| %>
<%= form_with  do |f| %>
	<% doc_id = current_doctor.id rescue nil %>
	<div class="form-group col-sm-4 col-md-2 col-sm-offset-4 col-md-offset-1">
		<%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, {prompt: 'Please select'},  {onchange: "this.form.submit()"} ) %>
	</div>
<% end %>
