<% 
provide(:title, 'Edit Invoice') 
provide(:button_text, 'Save Changes')
%>

<div class="col-sm-6 col-sm-offset-3">
   <h3 class='display-1'>Patient <%= @patient.full_name %> : Edit Invoice </h3>
   <%= render 'form' %>
</div>


