<% provide(:title, 'All invoices') %>

<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th>Invoice </th>
          <th class="tbl_lg">Bill To</th>
          <th class="tbl_lg">Patient</th>
          <th> Date </th>
	  <th> Amount </th>
	  <% if  current_user.admin? %>
	     <th></th>
     	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @invoices %>

  </tbody>
</table>

<%= will_paginate @invoices, class: "btn" %>
