     <tr>
	<td><%= link_to "#{diagnosis.diag_code}", diagnosis %> </td>
	<td><%= diagnosis.diag_descr %></td> 
	<td><%= diagnosis.prob_type %> </td> 
     </tr>


<%#  <% if current_user.admin?  %>
<%#    | <%= link_to "delete", patient, method: :delete,
<%#                                  data: { confirm: "You sure?" } %>
<%#  <% end %>

