     <tr>
	<td><%= link_to "#{diagnosis.code}", edit_diagnosis_path(diagnosis) %> </td>
	<td><%= diagnosis.descr %></td> 
	<td><%= diagnosis.active %> </td> 
        <td>
        <% if current_user.admin?  %>
		<%= link_to "delete", diagnosis, method: :delete, data: { confirm: "You sure?" } %> 
        <% end %>
        </td>   
     </tr>

