<% provide(:title, 'Edit Diagnosis') %>
<% provide(:button_text, 'Save changes') %>

  <div class="col-sm-5 col-sm-offset-4">
    <h3 class='display-1'>Edit Diagnosis</h3>
    <%= render 'form' %>
  </div>
