<% provide(:title, 'All diagnoses') %>

<ul class="users">
<table style="width:1100px;" >
  <thead>
      <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Problem type </th>
          <th>Active? </th>
      </tr>
  </thead>
  <tbody>

  <%= render @diagnoses %>

  </tbody>
</table>
</ul>

<%= will_paginate(@diagnoses) %>

<% if  current_user.admin?  %>
    <section class="new_diag_code">
      <aside class="col-md-2">
	    <%= button_to "Add Diagnostic Code", new_diagnosis_path, class: "btn btn-primary", :method => "get" %>
      </aside>
    </section>
<% end %>
