<% provide(:title, 'All diagnoses') %>
 
<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Problem type </th>
          <th>Active? </th>
      </tr>
  </thead>
  <tbody>

  <%= render @diagnoses %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @diagnoses, class: "btn" %>
<%= button_to "Add Diagnostic Code", new_diagnosis_path, class: "btn btn-primary col-md-12", :method => "get" %>
</div>

