<% provide(:title, 'All diagnoses') %>
 
<h1> List of Diagnoses </h1>

<ul class="users">
<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Problem type </th>
          <th>Active? </th>
      </tr>
  </thead>
  <tbody>

  <%= render @diagnoses %>

  </tbody>
</table>

<%= will_paginate(@diagnoses) %>

<% if  current_user.admin?  %>
    <div class="bottom_button">
      <div class="col-md-2">
	    <%= button_to "Add Diagnostic Code", new_diagnosis_path, class: "btn btn-primary", :method => "get" %>
      </div>
    </div>
<% end %>
</ul>
