<% provide(:title, 'New Diagnostic Code') %>
<% provide(:button_text, 'Save') %>

  <div class="col-sm-5 col-sm-offset-4">
    <h3 class='display-1'>New Diagnosis</h3>
    <%= render 'form' %>
  </div>
