<%
   provide(:title, 'Edit Prescription')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">Patient <%= @prescription.patient.lname %>: Prescription <%= @prescription.id %></b>
</div>
<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
</div>

