<% provide(:title, 'All claims') %>

<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th class="tbl_sm">Claim #</th>
	  <th class="tbl_sm">SvcDate </th>
          <th class="tbl_sm">Provider</th>
 	  <th class="tbl_sm">Services</th>
          <th class="tbl_sm">Acc #</th>
          <th class="tbl_sm">Prov</th>
	  <th class="tbl_sm">HC#</th> 
	  <th class="tbl_sm">Pmt Pgm</th> 
	  <th class="tbl_sm">RA file</th>
          <th class="tbl_sm">Date paid</th>
	  <th class="tbl_md">RMB Patient Name</th> 
      </tr>
  </thead>
  <tbody>

  <%= render @claims %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @claims, class: "btn" %> 
</div>
