<div class="row">
  <div class="col-sm-12"> 
    <small>
      <ul>By clicking on checkbox below, I give my explicit consent to the following:

    1. I understand that the laws that protect privacy and the confidentiality of medical information also apply to telemedicine, and that no information 
       obtained in the use of telemedicine which identifies me will be disclosed to researchers or other entities without my consent.
    2. I understand that I have the right to withhold or withdraw my consent to the use of telemedicine in the course of my care at any 
       time, without affecting my right to future care or treatment.
    3. I understand that I have the right to inspect all information obtained in the course of a telemedicine interaction, and may receive
       copies of this information for a reasonable fee.
    4. I understand that I may choose to make an in­person appointment at any time.
    5. I understand that the doctor may recommend I schedule an in­person appointment to address issues that cannot be adequately addressed
       through telemedicine.
    6. I understand that telemedicine involves encrypted electronic communication of my personal medical information.
    7. I understand that I may expect the anticipated benefits from the use of telemedicine in my care, but that no results can be guaranteed or assured.
    9. I agree that any dispute arriving from the telemedicine consult will be resolved in the Province of Ontario.
    
    <%= f.input :consented, as: :boolean, label:'Yes, I consent', checked_value: true, unchecked_value: false, input_html: {style:'width:25px'} %>

      </ul>
       </small>
  </div>
  </div>
</div>
