<%
   provide(:title, 'Edit Visit')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
  <div class="modal-title"><%= @patient.full_name %>, tel. <%= @patient.mobile_or_home_phone %></div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <%= render "#{current_user.role}_form" %>
</div>



