<%
   provide(:title, 'Edit Visit')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
        <b class="modal-title" id="myModalLabel"><%= @patient.full_name %>(<%= @patient.pat_type %>) : Visit of <%= @visit.entry_ts %></b>
</div>
<div class="modal-body">
  <%= render "#{current_user.role}_form" %>
</div>

<div class="modal-footer">
</div>


