<%
   provide(:title, 'New Visit')
   btext = current_user.patient? ? 'Submit Appointment Request' : 'Save changes'
   provide(:button_text, btext)
%>
 
<div class="modal-header">
  <div class="modal-title"><b><%= @patient.full_name %>, tel. <%= @patient.mobile_or_home_phone %> : New Visit</b></div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <%= render "#{current_user.role}_form" %>
</div>

