<%
   provide(:title, 'New Visit')
   btext = current_user.patient? ? 'Submit Appointment Request' : 'Save changes'
   provide(:button_text, btext)
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel"><%= @patient.full_name %>, tel. <%= num_to_phone(@patient.phone) %> : New Visit</b>
</div>
<div class="modal-body">
  <%= render "#{current_user.role}_form" %>
</div>

<div class="modal-footer">
</div>


