<%   provide(:title, "#{@patient.full_name} : #{@visit.entry_ts}") %>

<h1> <%= @patient.full_name %> (<%= @visit.pat_type  %>) : Visit of <%= @visit.entry_ts %>  </h1>
	
<%= render "#{current_user.role}_show" %>


