<% provide(:title, 'Edit Visit') %>
<% provide(:button_text, 'Save changes') %>
<h1><%= @patient.full_name %> <%= @visit.entry_ts.strftime("%D %H:%M") %> : Update Visit Details</h1>

    <%= render 'form' %>
