<% provide(:title, 'All visits') %>

<ul class="users">
<table >
  <thead>
      <tr>
          <th>Pat Id</th>
 	  <th>Doc Id</th>
          <th>Date</th>
          <th>Notes</th>
          <th>Diag Code</th>
          <th>Proc Code</th>
      </tr>
  </thead>
  <tbody>
	  Visits: <%= @visits.count %> 

  <%= render @visits %>

  </tbody>
</table>
</ul>

<p>
<%= will_paginate(@visits) %>


