<% provide(:title, 'All visits') %>
<%= render "shared/modal" %>

<table class="tbl table-hover" >
  <thead>
      <tr>
          <th>Date</th>
          <th class="tbl_lg">Patient</th>
          <th class="tbl_sm">Type</th>
 	  <th>Doctor</th>
          <th>Diag Code</th>
          <th>Proc Code</th>
          <th>Bill Ref</th>
          <th class="tbl_sm"></th>
      </tr>
  </thead>
  <tbody>
    Visits billed, but not marked as paid this year: <%= @visits.count %>. IFH visits need to be updated manually after payment is received.

    <%= render partial: 'unpaid_visit', collection: @visits, as: :visit %>

  </tbody>
</table>
<div class='spacer-20'></div>

<div class="row">
<div class="bottom_nav">
<%= will_paginate(@visits) %>
</div>

