<% provide(:title, 'New Visit') %>
<% provide(:button_text, 'Save') %>
<h3> New Visit </h3>
<h5><%= @patient.full_name %>, tel. <%= @patient.mobile_or_home_phone %></h5>

<%= render "#{current_user.role}_form" %>
