<% patient = Patient.find(visit.patient_id) %>
<tr>
<td>Date</td>
<td>Patients</td>
<td>Services</td>
<td>HCP</td>
<td>RMB</td>
<td>WCB</td>
<td>MOH Subtotal</td>
<td>Total Billed</td>
<td>Total Paid</td>
</tr>
