<% provide(:title, 'All Pay Stubs') %>
<%= render 'shared/modal' %>

<table class="table table-hover table-striped table-bordered">  <!--table table-hover table-condensed" >  -->
  <thead>
      <tr>
          <th class="tbl_sm">#</th>
          <th>Doctor</th>
          <th>Mon/Yr</th>
	  <th class="tbl_lsm">#Claims</th>
	  <th class="tbl_lsm">#Services</th>
          <th>Gross</th>
          <th>Net</th>
          <th>CHK</th>
          <th>RA File</th>
	  <th>Download</th>
	   <% if current_user.admin?  %>
          <th></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @paystubs %>

  </tbody>
</table>

<div class="row">
<div class="bottom_buttons ">
<% if @can_generate_new_paystubs %>
<%= button_to "Create New Paystub", new_paystub_path, class: "btn btn-primary col-md-2", method: 'get'  %>
<% end %>
</div>
</div>

<div class="my_pagination">
<%= will_paginate @paystubs  %> 
</div>
