<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
	  | <%= link_to "Edit", edit_user_path(user)  %>
     <% if !current_user?(user) %>
        | <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
     <%end %>
  <% end %>
</li>
