<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
  <div class="col-sm-4 col-sm-offset-4">
    <h3 class='display-1'>Update User Profile</h3>
    <%= render 'form' %>
  </div>
