<% provide(:title, 'All users') %>

<table class="tbl table-hover">
   <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
	  <th>Active?</th>
	  <th>Created</th>
	  <th>&nbsp;</th>
	  <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>

  <%= render @users %>

  </tbody>
</table>

<% if current_user.admin? %>
<div class="bottom_buttons ">
<%= will_paginate @users, class: "btn" %> 
<%= button_to "Add User", new_user_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
</div>
<% end %>
