<% provide(:title, 'All users') %>
<%= render "shared/modal", size: 'sm' %>

<table class="tbl2 table-hover table-striped table-bordered">
   <thead>
      <tr>
          <th>Email</th>
          <th>Role</th>
	  <th>Confirmed</th>
	  <th>Created</th>
	  <th>Sign In Count</th>
	  <th>Last Login</th>
          <th class='text-center'>Invited By</th>
          <th class='text-center tbl_sm'>Edit</th>
          <th class='text-center tbl_sm'>Sw.To</th>
          <th class='text-center tbl_sm'>Del</th>
      </tr>
  </thead>
  <tbody>

  <%= render @users %>

  </tbody>
</table>

<% if current_user.admin? %>
<div class="bottom_buttons ">
<%= will_paginate @users, class: "btn" %> 
<%# button_to "Add User", new_user_registration_path, class: "btn btn-primary col-md-2 ", method: 'get'  %>
</div>
<% end %>
