<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate(@users, :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(@users, :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %>

