<% provide(:title, 'Add new user') %>
<% provide(:button_text, 'Create account') %>

<div class="col-sm-4 col-sm-offset-4">
    <h3 class='display-1'>New User Sign Up</h3>
    <%= render 'form' %>
</div>
