<% provide(:title, 'Add new user') %>
<% provide(:button_text, 'Create my account') %>
<h1>Add new user</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'form' %>
  </div>
</div>
