<% provide(:title, @user.name) %>

<div>
<h1> User profile </h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
	      <%= @user.name %> :  <%= @user.email %> :  Admin: <%= @user.admin? %>
      </h1>
    </section>
  </aside>
</div>

</div>
