<%
   provide(:title, 'Edit Schedule')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
  <div class="modal-title">Schedule for Dr. <%= @schedule.doctor.lname %>  - Edit</div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
</div>


