<% @schedules = Schedule.all %>
<table class="table table-hover table-condensed table-striped" >
<caption><h4>Current Schedule - updated daily</h4></caption>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= Date::DAYNAMES[schedule.dow] %></td>
        <td class="col-md-5">Dr. <%= schedule.doctor.lname %></td>
        <td><%= schedule.start_time.strftime("%l:%M%p") %></td>
        <td><%= schedule.end_time.strftime("%l:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
