<%
provide(:title, 'Edit Schedule')
provide(:button_text, 'Save Schedule')
%>

<div class='card bg-light mx-auto mt-3 card-width'>
  <div class='card-body'>
    <h5 class="card-title"> Edit Schedule </h5>
    <p class="card-text">
      <%= render 'form' %>
    </p>
</div>
</div>

