<% provide(:title, "Doctor's schedules") %>
<%= render "shared/modal", size: 'md' %>

<div class="col-sm-6 col-sm-offset-3">
<h3 class="display-1">Doctor's Schedules</h3>
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
    <tr>
      <th>Day</th>
      <th>Doctor</th>
      <th>From</th>
      <th>To</th>
      <th>Weeks</th>
      <% unless current_user.doctor? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @schedules, remote: device_is_desktop? %>
  </tbody>
</table>

<% unless current_user.doctor? %>
<%= button_to "Add New Schedule", new_schedule_path, class: "btn btn-primary", method: :get %>
<% end %>
</div>

