<% 
provide(:title, 'New Schedule') 
provide(:button_text, 'Create Schedule')
%>

<div class='card bg-light mx-auto mt-3 card-width'>
  <div class='card-body'>
    <h5 class="card-title"> New Schedule </h5>
    <p class="card-text">
      <%= render 'form' %>
    </p>
</div>
</div>
