<!-- Modal size is set here:  modal-dialog modal-lg Default to large modal; change in js in calling page -->

<div id="modal-window" class="modal fade printable autoprint" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="mymodal" class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>



