<!-- Modal size is set here:  modal-dialog modal-lg -->

<% modifier = (defined?(size)).nil? ? '': 'modal-'+size %>

<div id="modal-window" class="modal fade printable autoprint" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog <%= modifier %>" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<% unless modifier.present? %>
<div id="modal-window-lg" class="modal fade printable autoprint" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
<% end %>

