<% provide(:title, 'All Vaccines') %>
<%= render "shared/modal", size: 'lg' %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_md">Name</th>
          <th class="tbl_md">Target</th>
          <th>Route</th>
	  <th>Dose</th>
	  <th>DIN</th>
	  <th>Notes</th>
	  <% unless current_user.doctor? %>
  	    <th class="tbl_sm"></th>
	  <% end %>
	  <% if  current_user.admin? %>
	    <th class="tbl_sm"></th>
     	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @vaccines, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @vaccines, class: "btn" %>
<%= button_to "Add New Vaccine", new_vaccine_path, class: "btn btn-primary btn-block", :method => "get" %>
</div>
