<% provide(:title, 'New Vaccine') %>
<% provide(:button_text, 'Save') %>
<h1>New Vaccine </h1>

<div class="row justify-content-sm-center">
	<div class="col-sm-4 col-sm-offset-4">

	<%= render 'form' %>

	</div>
</div>
