<% provide(:title, 'All export files') %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
	  <th> name  </th>
	  <th> sdate </th>
	  <th> edate </th>
	  <th> #claims </th>
	  <th> #HCP claims </th>
	  <th> #RMB claims </th>
	  <th> #WCB claims </th>
	  <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @export_files %>

  </tbody>
</table>

<div class="bottom_nav">
<%= will_paginate @export_files, class: "btn" %>
</div>
