<%
   provide(:title, 'Edit Referral')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">Referral <%= @referral.id %> - Re: patient <%= @referral.patient.lname %> To: <%= @referral.to_doctor.lname %></b><br> 
</div>
<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
</div>

