<%
   provide(:title, "Patient Referral Form")
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">Referral for patient <%= @referral.patient.lname %>  To:  <%= @referral.to_doctor.lname %></b>
</div>
<div class="modal-body">
	<object type="application/pdf" data="/referrals/<%= @referral.id %>" width="100%" height="700">No Support</object>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" class="close" data-dismiss="modal">Dismiss</button>
</div>


