<%
   provide(:title, "Patient's Letter")
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">Letter Re: patient <%= @letter.patient.lname %>  To:  <%= @letter.to %></b>
</div>
<div class="modal-body">
	<iframe id="myModal" src="/letters/<%= @letter.id %>" frameborder="0" width="100%" height="600px"></iframe>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" class="close" data-dismiss="modal">Dismiss</button>
</div>


