<!-- Visit panel on right hand side of patient profile -->
<div class="col-md-6">
    <h3>Visits: (<%= @patient.visits.count %>)</h3>
    <% if @patient.visits.any? %>
        <table class="table table-condensed">
  	  <thead>
	  <tr>
	    <th>Date</th>
	    <th class="tbl_md">Bil.Type</th>
	    <th class="tbl_md">Edit</th>
	    <th>Doctor</th>
	    <th class="tbl_md">Diag.</th>
	    <th>Services</th>
	    <th class="tbl_sm">Meds Renewal?</th>
	    <th class="tbl_md">Status</th>
	  </tr>
	  <tbody>

        <%= render @visits, remote: device_is_desktop? %>

          </tbody>
	</table>

	<div class="spacer-10"></div>
	<div class="row">
	  <div class="col-md-12"> <%= link_to "Print Visit History", visit_history_patient_path(@patient),  remote: device_is_desktop?, 'data-bs-toggle':  "modal", 'data-bs-target': '#modal-window', class: "btn btn-info", method: 'get', onclick: "set_lg_modal()" %> </div>
	</div>
        <div class="row mt-3 my_pagination" style="float: right">
        <%= will_paginate @visits %>
        </div>
    <% end %>
  </div>
