<%
   provide(:title, 'Edit Patient')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel"><%= @patient.full_name %> - Edit Patient Record</b>
</div>
<div class="modal-body">
 <div class="well">
   <% if current_user.patient? %>
    <%= render 'patient_form' %>
  <% else %>
    <%= render 'admin_form' %>
  <% end %>
 </div>
</div>

<div class="modal-footer">
	<small> * Required for HCP/WCB/RMB patients; HC# and Billing Type cannot be changed for patients with previous visits </small>
</div>

