<div class="pt-5"></div>
<img src='/images/goog_biz.png' width="40" style="vertical-align:bottom; padding-right: 10px;"></img>

<b><%= link_to "Like our service? Please rate our business", "https://g.page/sc_walkin/review?rc", target: "_new" %></b>
