<%
   provide(:title, 'New Patient')
%>
 
<div class="modal-header">
  <div class="modal-title"><b><New Patient Record</b></div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
 <div class="card card-info">
   <% if current_user.patient? %>
    <%= render 'patient_form' %>
  <% else %>
    <%= render 'admin_form' %>
  <% end %>
 </div>
</div>

<div class="modal-footer">
  <% unless current_user.patient? %>
	<small> * Required for HCP/WCB/RMB patients </small>
  <% end %>
</div>

