<% provide(:title, @patient.full_name) %>

<h1><%= @patient.full_name %> -  Patient profile </h1>

	<h1>Cardswipe Demo</h1>
	<p>Plug in your card reader and scan a card. This page uses the built-in card data parsers, which recognize various formats.</p>

	<h2>Scan data:</h2>
	<div class="result">
		<ul id="properties">
		</ul>
		<p>Status: <span id="status"></span></p>
	</div>

	<p>Scanning a card will not interfere with form fields. Type a few characters into the field below and start a scan.</p>

<table id="my_table">
        <%= render @patient %>
</table>

<script type="text/javascript">

	     var success = function (data) {
			$("#status").text("Success!");
			var id = "<%= @patient.id %>"
		        var line1 = data['line1'];
		        var cardnum = line1.substring(7, 17);
		        var names = line1.substring(18,44);
		        var arr = names.split('/');

	     $.ajax({url: "/patients/" + id + "/card", data: { cardstr: line1 }, dataType: "script", type: "POST" });

		}

		var error = function () {
			alert("Failed");
			$("#status").text("Failed!");
			$(".line").text("");
		}

		$.cardswipe({
			success: success, 
			firstLineOnly: true,
			parsers: [ "generic"  ],
			error: error,
			debug: true
		});

</script>







