<% provide(:title, 'All patients') %>

<table style="width:800px; padding: 10px;" >
  <thead>
      <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>DOB</th>
          <th>OHIP#</th>
          <th>Phone</th>
      </tr>
  </thead>

 <%= render @patients %>


</table>
</ul>

