<% provide(:title, 'Edit patient') %>
<% provide(:button_text, "Update Patient's Record") %>
<h1><%= @patient.full_name  %> : patient's profile</h1>

<div class="col-md-11 col-sm-12 col-md-offset-2 col-sm-offset-1">

	<%= render 'form' %>

</div>
