<% provide(:title, 'Edit patient') %>
<% provide(:button_text, 'Update Record') %>


<div class="col-md-8 col-md-offset-2">
<h3 class='display-1'>Edit Patient Profile</h3>
<div class="well">
  <% if current_user.patient? %>
    <%= render 'patient_form' %>
  <% else %>
    <%= render 'admin_form' %>
  <% end %>
</div>
</div>

