<% provide(:title, 'Edit patient') %>
<% provide(:button_text, 'Update Record') %>

<div class='container-flex mx-auto'>
<div class="card bg-light mx-auto" style="max-width: 44rem">
  <% if current_user.patient? %>
    <div class="card-body">
    <h3 class="card-title mb-3">Edit Patient Profile</h3>
      <%= render 'patient_form' %>
    </div>
  <% else %>
    <div class="card-body">
    <h3 class="card-title mb-3">Edit Patient Profile</h3>
      <%= render 'admin_form' %>
    </div>
  <% end %>
</div>

</div>
