<% provide(:title, 'Edit patient') %>
<% provide(:button_text, "Update Patient's Record") %>
<h1><%= @patient.full_name  %> : patient's profile</h1>

<div class="row justify-content-md-center">
	<div class="col-md-10 col-md-offset-1">

	<%= render 'form' %>

	</div>
</div>
