<% provide(:title, 'All patients') %>

<% if @not_found %>
		   <div id="error_explanation">
		   Patient <%= params[:findstr] %> was not found"
		   </div>
<% end %>

<ul class="users">
<table style="width:95%; padding: 10px;"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th>Name</th>
          <th>Sex</th>
	  <th>Last Visit </th>
          <th>Age</th>
          <th>OHIP#</th>
          <th>Phone</th>
 	  <th>Address</th>
	  <th> </th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>
</ul>

<%= will_paginate(@patients) %> 

