<% provide(:title, 'All patients') %>

<p>
<div id='result'></div>
<p>

<div id="page">
<ul class="users">
<table style="width:95%; padding: 10px;"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th>Name</th>
          <th>Sex</th>
	  <th>Last Visit </th>
          <th>Age</th>
          <th>OHIP#</th>
          <th>Phone</th>
 	  <th>Address</th>
	  <th> </th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>
</ul>

<%= will_paginate(@patients) %> 

<p>
<div class="col-md-10 col-md-offset-1">
<%= button_to "New Patient", new_patient_path, class: "btn btn-primary", method: 'get'  %>
</div>
</div>

<!--
<script>
             var success = function (data) {
                        $("#status").text("Success!");
                        var line1 = data['line1'];
                        var cardnum = line1.substring(7, 17);
		        var ver = line1.substring(61,63);
		        var exp = line1.substring(45,49);
                        var names = line1.substring(18,44);
                        var arr = names.split('/');
		        var dob = line1.substring(53,61);
		        

		     alert('NAME: ' + arr[0] + ', ' + arr[1]+ "\n"+
			   'HCN: ' + cardnum + "  " + ver + ' EXP: ' + exp + "\n"+ 
			   'DOB: ' + dob 
		     	   );

	    		$("#findstr").val(cardnum);
		        window.location = "/patients?findstr="+cardnum;
	     }
	      var error = function () {
                        alert("Failed");
                        $("#status").text("Failed!");
                        $(".line").text("");
                }

                $.cardswipe({
                        success: success,
                        firstLineOnly: true,
                        parsers: [ "generic"  ],
                        error: error,
                        debug: true
                });

</script>
-->
