<% provide(:title, 'All patients') %>

<%# 'doc session expires '+session[:expires_at] %>

<h1> Patients </h1>
<table class="tbl table-hover"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th class="tbl_md">Name</th>
          <th class="tbl_xs">Gen</th>
          <th class="tbl_lsm">Health #</th>
          <th class="tbl_xs">Ver</th>
	  <th class="tbl_sm">Expiry</th> 
	  <th class="tbl_xs">Type</th> 
	  <th class="tbl_sm">DOB</th> 
          <th class="tbl_xs">Age</th>
	  <th class="tbl_lsm">Last Visit </th>
	  <th class="tbl_xs">Visits</th>
          <th class="tbl_lsm">Phone</th>
 	  <th class="tbl_sm">File#</th>
 	  <th class="tbl_lg">Address</th>
 	  <th class="tbl_sm">Chart</th>
      <% if current_user.admin?  %>
	  <th class="tbl_sm"> </th>
      <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>

<%= will_paginate @patients %>  

<div class="bottom_buttons">
<div class="col-md-2 col-md-offset-0">
<%= button_to "New Patient", new_patient_path, class: "btn btn-primary", method: 'get'  %>
</div>
</div>
