<% provide(:title, 'All patients') %>

<% if @not_found %>
		   <div id="error_explanation">
		   Patient <%= params[:findstr] %> was not found"
		   </div>
<% end %>

<ul class="users">
<table style="width:1100px; padding: 10px;" >
  <thead>
      <tr>
          <th>Name</th>
          <th>Sex</th>
	  <th>Last Visit </th>
          <th>Age</th>
          <th>OHIP#</th>
          <th>Phone</th>
 	  <th>Address</th>
	  <th>City</th>
	  <th>Prov</th>
	  <th>Postal </th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>
</ul>
<p>
<%= will_paginate(@patients) %> <!-- , :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %> -->

