
<p>
<div id='result'></div>
<p>

<% provide(:title, 'All patients') %>

<div id="page">
<table class="tbl table-hover"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th class="tbl_lmd">Name</th>
          <th class="tbl_sm">Gen</th>
          <th class="tbl_sm">Age</th>
	  <th class="tbl_sm">Type</th> 
          <th>Health #</th>
	  <th>Expiry</th> 
	  <th>DOB</th> 
	  <th>Last Visit </th>
	  <th class="tbl_sm">Visits</th>
          <th>Phone</th>
 	  <th >File#</th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @patients, class: "btn" %> 
<%= button_to "New Patient", new_patient_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
</div>
</div>
