<% provide(:title, 'New Patient') %>
<% provide(:button_text, "Save Patient's record") %>
<h1>Patient Sign up</h1>

<div class="col-md-11 col-sm-12 col-md-offset-2 col-sm-offset-1">
    	<%= render 'form' %>
</div>
