<% provide(:title, 'New Patient') %>
<% provide(:button_text, "Save Patient's record") %>
<h1>Sign up</h1>

<div class="row justify-content-md-center">
	<div class="col-md-10 col-md-offset-1">
	
    	<%= render 'form' %>

	</div>
</div>
