//alert ("new.js.erb called <%= @patient.full_name %>");

$('#result').html("<h2><%= flash[:info] %><font color=red> <%= flash[:danger] %> </font></h2><%= j render 'form' %>");
$('#page').hide();
$('.alert').hide();
