
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

<div class="modal-header">
  <div class="modal-title" id="myModalLabel"> Not Found </div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


        <div class="modal-body">
	  <p>Patient not found. Please try again</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<script>
$(document).ready(function(){
        $("#myModal").modal();
});
</script>

