<div id='result'></div>

<% date = params[:date].to_date rescue Date.today %>
<% provide(:title, "Day Sheet for " + date.to_s  ) %>
<% provide(:button_text, 'Save changes') %>
<%= render "shared/modal" %>

<%
    ts  = (@sort == 'entry_ts' && @direction == 'asc')?"Time &nbsp;&nbsp;<i class='glyphicon glyphicon-sort-by-attributes-alt'></i>":"Time &nbsp;&nbsp;<i class='glyphicon glyphicon-sort-by-attributes'></i>" 
%>

<div id='page'>
<table class="tbl2 table-hover table-bordered" >
  <thead>
      <tr>
	  <th class="tbl_xs"></th>
	  <th class="tbl_lsm"><%= sortable 'entry_ts', ts.html_safe %></th>
          <% if @date.today? %>
          <th class="tbl_lsm text-center">Room </th>
          <% end %>
	  <th class="tbl_lmd">Patient</th>
          <th class="tbl_sm">Type</th>
          <th class="tbl_md text-center">HC/IFH #</th>
          <th class="tbl_md text-center">Phone</th>
          <th class="tbl_lsm text-center">email</th>
          <th class="tbl_lsm text-center">Diag.</th>
          <th class="tbl_md">Services</th>
	  <% if device_is_desktop? %>
          <th class="tbl_sm">Status</th>
	  <% end %>
	  <th class="tbl_sm"></th> 
	  <th class="tbl_sm"></th> 
	  <th class="tbl_sm"></th> 
	  <% if !device_is_desktop? %>
            <th class="tbl_sm"></th>
          <% end %>
	  <% unless current_user.patient? %>
	    <th class="tbl_sm"></th>  <!-- Delete/cancel -->
  	  <% end %>
      </tr>
  </thead>
  <tbody>

  <% @daysheet.each do |v| %>
     <%= render 'visit', visit: v, cached: true %>
  <% end %>

  </tbody>
</table>

<% if @daysheet.any? %>
<div class="bottom_nav">
<%= will_paginate @daysheet, class: "btn" %> 
</div>
<% end %>

</div>
