<div style="height: 100px;"> </div>
<div class="col-md-2 col-sm-4 col-sm-offset-4"> 
<%= form_with url: daysheet_index_path do |f| %>
	<%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, {prompt: 'Please assign doctor for this shift'}, {onchange: "this.form.submit()"} ) %>
<% end %>
</div>
