
<table>
  <tr>
    <td>
<%= form_with url: daysheet_index_path do |f| %>
	<%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, {prompt: 'Assign Doctor for Next Shift'}, {onchange: "this.form.submit()"} ) %>
<% end %>
   </td>
  </tr>
</table>
