<% date = params[:date] || Date.today %>
<% provide(:title, "Day Sheet for " + date.to_s  ) %>

<h1> Visits <%= date.to_s  %> (<%= @daysheet.count %>)  </h1>

<ul class="users">
<table style="width:100%; padding: 10px;" >
  <thead>
  <col width="50">
  <col width="120">
  <col width="100">
  <col width="50">
  <col width="50">
  <col width="150">
      <tr>
          <th>Time</th>
	  <th>Patient</th>
 	  <th>Doctor</th>
          <th>Diag Code</th>
          <th>Proc Code</th>
          <th>Notes</th>
      </tr>
  </thead>
  <tbody>

  <% @daysheet.each do |v| %>
     <%= render 'visit', visit: v %>
     <%# render 'visits/visit', visit: v %>
  <% end %>

  </tbody>
</table>
</ul>
<p>
<%= will_paginate(@daysheet) %> <!-- , :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %> -->
