<%
   provide(:title, 'Show Doctor')
   provide(:button_text, 'Save changes')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel"><%= @doctor.lname %> : Provider Number <%= @doctor.provider_no %></b>
</div>
<div class="modal-body">
       <%= render 'form', noedit: true %>
</div>

<div class="modal-footer">
</div>


