<% provide(:title, 'All doctors') %>

<p>

<ul class="users">
<table style="width:1100px; padding: 10px;" >
  <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Service</th>
          <th>Specialty</th>
          <th>Provider#</th>
          <th>Group#</th>
          <th>Bills?</th>
          <th>City</th>
          <th>Phone </th>
      </tr>
  </thead>
  <tbody>

  <%= render @doctors %>

  </tbody>
</table>
</ul>

<% if @doctors %>
<%=  will_paginate(@doctors)  %>
<% end %>

<% if  current_user.admin?  %>
    <section class="new_diag_code">
      <aside class="col-md-2">
            <%= button_to "Add Doctor", new_doctor_path, class: "btn btn-primary", :method => "get" %>
      </aside>
    </section>
<% end %>
