<% provide(:title, 'All doctors') %>

<p>

<ul class="users">
<table style="width:1100px; padding: 10px;" >
  <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Service</th>
          <th>Specialty</th>
          <th>Provider#</th>
          <th>Group#</th>
          <th>District</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone </th>
          <th>email </th>
      </tr>
  </thead>
  <tbody>

  <%= render @doctors %>

  </tbody>
</table>
</ul>
<p>

<%= will_paginate(@doctors) %>
