<% provide(:title, 'All doctors') %>

<h1> Doctors </h1>
<ul class="users">
<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Service</th>
          <th>Specialty</th>
          <th>Provider#</th>
          <th>Group#</th>
          <th>Bills?</th>
	  <th> Address</th>
          <th>City</th>
          <th>Phone </th>
	 <% if  current_user.admin?  %>
          <th> </th>
  	 <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @doctors %>

  </tbody>
</table>

<% if @doctors %>
<%=  will_paginate(@doctors)  %>
<% end %>

<% if  current_user.admin?  %>
<div class="bottom_buttons">
<div class="col-md-2 col-md-offset-0">
            <%= button_to "Add New Doctor", new_doctor_path, class: "btn btn-primary", :method => "get" %>
</div>
</div>
<% end %>
</ul>
