<% provide(:title, 'All doctors') %>

<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Service</th>
          <th>Specialty</th>
          <th>Provider#</th>
          <th>Group#</th>
          <th>Bills?</th>
	  <th> Address</th>
          <th>City</th>
          <th>Phone </th>
	  <% "<th> </th>" if  current_user.admin?  %>
      </tr>
  </thead>
  <tbody>

  <%= render @doctors %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @doctors, class: "btn" %>
<%= button_to "Add New Doctor", new_doctor_path, class: "btn btn-primary col-md-12", method: :get %>
</div>
