<% provide(:title, 'All billing') %>
<% date = params[:date].to_date rescue nil %>
  
<table class="tbl table-hover"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
	  <% if date  %>
	    <th class="tbl_lsm">Time</th>
	  <% else %>
	    <th class="tbl_md">Date</th>
	  <%end %>
          <th class="tbl_md">Doctor</th>
	  <th class="tbl_lsm">Visit Id</th>
          <th class="tbl_lmd">Patient</th>
          <th class="tbl_md">Health #</th>
          <th class="tbl_sm">Ver</th>
          <th class="tbl_lmd">Procedure(s)</th>
          <th class="tbl_md">Diagnosis</th>
          <th class="tbl_xmd">Ttl. Fee</th>
          <th class="tbl_md">Status</th>
	  <th class="tbl_sm">Entry By</th>
      </tr>
  </thead>
  <tbody>
	  <%= render partial: "visit", collection: @visits, locals: {filter: date}  %>
  </tbody>
</table>

<div class="bottom_buttons ">
  <%= will_paginate @visits, class: "btn" %>
  <% if BILLING_FORMAT == 'EDT' %>
         <%= button_to "Export Claim File (EDT)", billings_export_edt_path, class: "btn btn-primary col-md-12", method: 'post', params: {date: date}  %>
     <% else %>
	  <%= button_to "Export Claim File (CSV)", billings_export_csv_path, class: "btn btn-primary col-md-12", method: 'post', params: {date: date}  %>
     <% end %>
</div>

