<% provide(:title, 'All billing') %>
  
<% if @not_found %>
  <div id="error_explanation">
   Bill <%= params[:findstr] %> was not found"
  </div>
<% end %>

<h1> Billings for <%= params['date'] %> </h1>

<ul class="users">
<table style="width:100%; padding: 10px;"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th>Patient</th>
          <th>Doctor</th>
          <th>Procedure</th>
          <th>Units</th>
          <th>Fee</th>
          <th>Diagnosis</th>
          <th>Type</th>
          <th>Status</th>
	  <th>Remit File</th>
	  <th>Submitted</th>
          <th>Paid </th>
	  <th>Amt.Paid</th>
          <th>MOH Ref</th>
      </tr>
  </thead>
  <tbody>

  <%= render @billings %>

  </tbody>
</table>
</ul>
<%= will_paginate(@billings) %> 
