<% provide(:title, 'All billing') %>
  
<h1> Billings for <%= params['date'] %> (<%= @visits.count %>)</h1>

<ul class="users">
<table style="width:100%; padding: 10px;"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th>Patient</th>
          <th>Doctor</th>
          <th>Procedure</th>
          <th>Duration</th>
          <th>Diagnosis</th>
          <th>Fee</th>
          <th>Type</th>
          <th>Status</th>
	  <th>Entry By</th>
	  <th>Entry Date</th>
	  <th>Note</th>
      </tr>
  </thead>
  <tbody>
	  <%= render partial: "billing", collection: @visits %>
  </tbody>
</table>
</ul>

<%= will_paginate(@visits) %> 
