<% provide(:title, 'All RA Files') %>

<table class="tbl2 table-hover table-striped table-bordered"> 
  <thead>
      <tr>
          <th>File #</th>
	  <th>Date Paid</th>
          <th>Group</th>
 	  <th class="tbl_xlg">Payee</th>
 	  <th class="tbl-sm">Claims</th>
 	  <th class="tbl-sm">Services</th>
 	  <th>Claimed Amt</th>
 	  <th>Paid Amt</th>
 	  <th>Net Paid</th>
 	  <th>Pay Method</th>
      </tr>
  </thead>
  <tbody>

  <%= render @ra_messages %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @ra_messages, class: "btn" %> 
</div>
