<% provide(:title, 'All Forms') %>
<%= render 'shared/modal', size: 'lg' %>

<table class="table table-hover table-striped table-bordered" >
  <thead>
      <tr>
	  <th class='tbl_lg'>Name</th>
	  <th class="tbl_lg">Description</th>
	  <th class="tbl_lsm"class="tbl_lsm">Type</th>
	  <th>File Name</th>
	  <th>Format</th>
	  <th>Fillable?</th>
	  <th></th>
	  <% if current_user.admin?  %>
	    <th></th>
	    <th></th>
          <% end %>  
      </tr>
  </thead>
  <tbody>

  <%= render @forms %>

  </tbody>
</table>

<div class="row">
<div class="bottom_buttons">
<% unless current_user.doctor? %>
<%= button_to "Add Form", new_form_path, class: "btn btn-primary col-md-2", :method => "get" %>
<% end %>
</div>
</div>

<div class="my_pagination">
<%= will_paginate @forms %>
</div>
