<% provide(:title, 'All Forms') %>
<%= render 'shared/modal', size: 'lg' %>

<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th class='tbl_lg'>Name</th>
	  <th class="tbl_lg">Description</th>
	  <th class="tbl_lsm"class="tbl_lsm">Type</th>
	  <th>File Name</th>
	  <th>Format</th>
	  <th>Fillable?</th>
	  <th></th>
	  <% if current_user.admin?  %>
	    <th></th>
	    <th></th>
          <% end %>  
      </tr>
  </thead>
  <tbody>

  <%= render @forms %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @forms, class: "btn" %>
<% unless current_user.doctor? %>
<%= button_to "Add Form", new_form_path, class: "btn btn-primary col-md-12", :method => "get" %>
<% end %>
</div>
