<%
   provide(:title, 'Add Specialist Report')
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">Add Specialist Report</b>
</div>
<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
	<small style="float: left; padding-top: 20px;"> First, select Report Date and Doctor, Then drop pdf file to upload  </small>
        <button class="btn btn-info" class="close" data-dismiss="modal">Dismiss</button>
</div>

