<% provide(:title, 'Edit procedure') %>
<% provide(:button_text, 'Save changes') %>
<h1>Edit procedure</h1>

<div class="col-md-9 col-sm-12 col-md-offset-3 col-sm-offset-2">
<%= render 'form' %>
</div>


