<% provide(:title, 'All procedures') %>

<h1> List of Procedures </h1>

<ul class="users">
<table class="tbl table-hover" >
  <thead>
      <tr>
          <th>Code</th>
          <th>Type</th>
          <th class="tbl_lg">Description </th>
	  <th>Prov. Fee</th>
	  <th>Units</th>
	  <th>Diag req?</th>
	  <th>Eff Date</th>
	  <th>Active</th>
      </tr>
  </thead>
  <tbody>

  <%= render @procedures %>

  </tbody>

</table>

<%= will_paginate(@procedures) %>

<% if  current_user.admin?  %>
    <div class="bottom_buttons">
      <div class="col-md-2">
            <%= button_to "Add Procedure", new_procedure_path, class: "btn btn-primary", :method => "get" %>
      </div>
    </div>
<% end %>

</ul>
