@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/modals";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$spacer: 1rem !default;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html,body {
  height: 100%;
  padding-top: 0; 
  overflow-y: scroll;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 0.94em;
//  font-size: 0.9em;
}

p.small {
    line-height: 0.85em;
    font-size: 0.7em;
}

p.medium {
//    padding: .8em 1.0;
    line-height: 1.4em;
    text-align: justify;
    font: Arial, Helvetica, sans-serif;
}

p {
    padding: .8em 1.0;
    line-height: 1.1em;
    text-align: justify;
    font: Arial, Helvetica, sans-serif;
    font-size: 0.97em;
}

.container, .help-container {
   width:100%;
   min-height: 99%; //92%;
   height: auto !important; /* Stick footer to bottom in IE6 */
   height: 100%;
   margin: 0 auto -30px;  /* footer height */
   padding-left: 0px;
   padding-right: 0px;
   overflow-x: hidden;
}

.help-container {
   width: 98%;
   padding-bottom: 50px;
}

table {
  width: 100%;
}

#findstr {
	border-radius: 5px;
//	height: 26px !important;
//	padding: 5px 5px 5px 8px;
}

#header {
   padding: 5px;
   height: 56px;
}

#body {
   padding-left:5px;
   padding-right:5px;
//   min-height: 92%; //92%;
   padding-bottom:30px;  
//   height: 100%;
//  margin: 0 auto -30px;  /* footer height */
//   height: auto !important; /* Stick footer to bottom in IE6 */
}

#footer, #pushup {
   height: 30px;
   padding-left: 5px;
}

/* navbar */

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: red;
//    font-weight: bold;
//    background-color: white;
//  height: 40px;
}

.navbar-mobile {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 0;
  height: 40px;
  font-weight: 500;
  line-height: 40px;
}

.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 10px;
//    line-height: 20px;
}

.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
.spacer-30 {
  height: 30px;
}

// Bootstrap spacers
.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.ml-2 {
  margin-left: ($spacer * .5) !important;
}

.ml-3 {
  margin-left: ($spacer * 1) !important;
}

.mr-1 {
  margin-right: ($spacer * .25) !important;
}

.mr-2 {
  margin-right: ($spacer * .5) !important;
}

.mr-3 {
  margin-right: ($spacer * 1) !important;
}

.m-1 {
	margin-right: ($spacer * .25) !important;
	margin-left: ($spacer * .25) !important;
}	

.m-2 {
	margin-right: ($spacer * .5) !important;
	margin-left: ($spacer * .5) !important;
}	

.m-3 {
	margin-right: ($spacer * 1) !important;
	margin-left: ($spacer * 1) !important;
}	

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.pt-3 {
  padding-top: $spacer !important;
}

.pt-4 {
  padding-top: ($spacer * 1.5) !important;
}

.pt-5 {
  padding-top: ($spacer * 3) !important;
}

.p-3 {
  padding: $spacer !important;
}

.p-4 {
  padding: ($spacer * 1.5) !important;
}

.p-5 {
  padding: ($spacer * 3) !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 8px;
  }
}

.hidden {
   display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
//  font-weight: bold;
/*  color: $gray-light; */
}

h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-top: 10px;
}

td.hlight {
  font-weight: bold;
  color: red;
}

/* header */

#logo {
//  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 19px;
//  color: #34d5eb;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

#mobile_logo {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

#homepic  {
  float: left;
  margin-right: 10px;
  padding:20px
}

#address {
  font-size: 1.5em;
//  font-weight: bold;
  margin-left: 15px;  
}

.hdr-text {
//  font-family: "Gill Sans", sans-serif;
  font-family: system-ui;
  margin-left: 10px;
  line-height: 1;
  font-size: 1.4em;
//  color: grey;
  text-transform: uppercase;
//  letter-spacing: -2px;
//  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

.subhdr {
  font-family: system-ui;
  line-height: 1.2;
  font-size: 1.5em;
}

.caption-text {
  margin-right: 10px;
  font-size: 1.2em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

caption {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0;
  padding-left: 10px;
}

/* footer */

footer {
  margin-right: 15px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    margin-right: 15px;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.bottom_buttons {
  padding-top: 20px;
  margin-left: 20px;
}

.bottom_nav {
//  float: right;
//  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
//  align-items: center; 
//  padding-bottom: 10px;
//  width: 100%;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 25px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

.boolean {
  font-size: 1.05em;
  display: inline;
  }

.form-check-label { 
  margin-left: 5px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
//  margin-bottom: 10px;
  @include box_sizing;
}

.simple_form input {
//  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
  font-size: 14px;
}

input {
  height: auto !important;
}

input[type="date"] {
	height: 34px !important;
}

.datetime {
  direction: ltr;
  padding: 0;
  width: auto !important;
}

input[type="file"] {
	height: 34px !important;
//	line-height: 34px;
    padding: 6px 12px;
}

.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

select {
    vertical-align:top;
    height:25px;
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.form-group-invalid {
    color: red;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
//    color: $state-danger-text;
    color: red;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 2px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

/* Patient list table */
.tbl {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.text-center {
   text-align: center;   
}

/* Table with adjustable column widths */
/* Column widths are based on these cells */
.tbl_xxs {
  width: 1%;	
}
.tbl_xs {       /* ver, sex, age */
  width: 2%;
}
.tbl_sm {       /* File# */
  width: 4%;
}
.tbl_lsm {      /* Dates */ 
  width: 6%;
}
.tbl_xmd {      /* Phones */
  width: 8%;
}
.tbl_md {      
  width: 10%;
}
.tbl_lmd {      /* full name */
  width: 15%;
}
.tbl_xlg {      
  width: 20%;
}
.tbl_lg {      /* address */
  width: 25%;
}
.tbl_llg {
  width: 30%;
}

.tbl2 td,
.tbl td {
//  white-space: nowrap;
//  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}
.tbl th {
  background: grey;
  color: white;
  height: 25px;
}

.td-center {
  text-align: center;
}

// Temp!!!!
.tbl2 th {
  background: $brand-info; //#5bc0de;
  color: white;
//  height: 26px;
  padding: 2px;
}

.tbl td,
.tbl th {
  text-align: left;
  padding: 0px 5px;
}

.tbl tr:nth-child(even) {
  background: lightblue;
}

.table-hover tbody tr:hover td {
    background: $gray-lighter;
}

/* Pagination */

.pagination {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 1em;
    padding: 0.1em 0.1em;
}

//.pagination > * {
//    margin-right: 0.1em;
//    padding: 0.1em 0.1em;
//    margin-bottom: 0px;
//}

.pagination a:hover_ {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

#doc_in {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index:300;
} 

.alert {
  padding: 1px;
  padding-left: 5px;
  width: 100%;
  float: left;
  margin-bottom: 2px;
}
 
#flash_info {
 float: right;
}

.notice {
  background-color :#ffc107;  // overrides default colors!
}

#flash_alert {               // devise alers
  background-color :$alert-info-bg;  // overrides default colors!
  @extend .alert;
  padding-left: 5px;
}

#flash_notice {		     // devise notices
  background-color :$alert-info-bg;  // overrides default colors!
  display: flex;
  @extend .alert;
  padding-left: 5px;
}

.alert .glyphicon{
    display:table-cell;
}

.alert div,
.alert span{
    padding-left: 5px;
    padding-right: 15px;
    display: table-cell;
    line-height:30px;
}

.cyan-well{
  @extend .well;
  background-color: cyan !important;
}

.table-warning {
  background-color: #dff0d8;
}

.hdr-link {
 color: white;
}

/* used for sorting headers in diagnosis - disabled  */
table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.patient-notes-panel-body {
    background: lightblue;
    max-height: 190px;
    overflow-y: scroll;
}

.patient-dropdown-panel-body {
    background: $brand-info;
    max-height: 200px;
    overflow-y: scroll;
}

.visit-notes-panel-body {
    background: #FAFAD2;
    max-height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.news-panel-body {
    background: #E6E6FA;
    max-height: 500px;
    overflow-y: scroll;
}

// Notes scrollable PRE panels
.pre-scrollable {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: $gray-medium-light;
}

.pre-scrollable-md {
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: $gray-medium-light;
}

.pre-scrollable-lg {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap; 
    background-color: $gray-medium-light;
}

.pre-scrollable-xlg {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;

    white-space: pre-wrap; 
    margin-bottom: 35px;
    background-color: $gray-medium-light;
}

// Chrome doesn't display scrollbar sometimes. Force it.
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.notes {
  background-color: transparent; 
  overflow:auto; 
  white-space: pre-wrap; 
  border: 0;
  padding: 10px;
}

#modal-window {
  position: fixed;
  top: 3%;
  left: 5%;
//  transform: translate(-50%, -50%);
}

.modal-sm {
	width: 400px;
}

.modal-title {
   font-size: 16px;
}
.modal-header {
  height: 45px;
}

//.modal-footer {
//  height: 70px;	
//}


.turbolinks-progress-bar {
   height: 3px;
   background-color: blue;
}

/* Make Select2 boxes match Bootstrap3 heights: */
.select2-selection__rendered {
  line-height: 34px !important;
}

.select2-selection {
  height: 34px !important;
}

.select2-selection__arrow {
    height: 32px !important;
}


// Safari modals - doesnt really work, but maybe one day..
.clickable {
cursor: pointer;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-text {
  margin-left: 1.5rem;
}

card > hr {
  margin-right: 0;
  margin-left: 0;
}

// Simple form tool tips

.has-tip:after{
  font-family: "Glyphicons Halflings";
  content: " \e085";
  color: #aaa;
}

#marquee2 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index:300;
}

.updated{
  padding: .25em 0 2.5em;
  color: #b9b9b9;
  font-size: .9em;
}

// Help file header
.header{
  display:block;
  border-bottom:1px solid #dadada;
  color:#000;
  font-size:1.75em;
  padding-top:.5em;
  line-height:1.5;
//  font-family:arial,helvetica,sans-serif
}

.table-responsive {
  overflow-y: visible !important;
}


// Move page down to make anchors visible
:target {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.glyphicon.glyphicon-menu-hamburger {
    font-size: 20px;
  &:hover {
    color: white;
    text-decoration: none;
    }
}

.btn {
//	padding: 6px;
//	margin-top: 10px;
//	margin-bottom: 10px;
//	margin-left: 10px;
//	border: 0 none;
	font-weight: 600;
	font-size: 1.1em !important;
//	text-transform: uppercase;
//	border-radius: 20px;
}

/* inverse colors on mouse-over and focus */
.btn:hover,
.btn:focus {
  color: #9555af;
//  border-color: currentColor;
  background-color: white;
}

// patient profile page
.drop-down-link {
  font-size: 1.1em;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 5%;
  vertical-align: 1px;
}

// Supress underlined legend in checkboxes in _prescription_form
.col-form-label {
  display: none;
}

// Bootstrap form controls focus border
.form-control:focus {
  border-color: #FF0000;
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
   background-color: #E9F0FD!important;
//  background-color: yellow; 
}

.form-inline {
  display: inline-block;
 }

.voice-input:focus {
//	height: 300px;
	font-size: 1.35em;
}

.dropzone .dz-message {
  background: lightyellow; //#f5f5f5;
  border: 3px dashed #dedede;
  border-radius: 5px;
  padding: 50px 0px 50px 0px;
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

