     <tr>
	<td><%= link_to "#{daily_chart.filename}", daily_chart, target: 'Form' %> </td>
	<td><%= daily_chart.date %></td> 
	<td><%= daily_chart.pages %> </td> 
     </tr>


<%#  <% if current_user.admin?  %>
<%#    | <%= link_to "delete", patient, method: :delete,
<%#                                  data: { confirm: "You sure?" } %>
<%#  <% end %>

