<h1>Reports</h1>
<% provide(:title, 'All Reports') %>

<p>
<div id='result'></div>
<p>

<div id="page" class="col-md-8 col-md-offset-2">
<table class="table table-hover table-condensed" > 
  <thead>
      <tr>
          <th>Name</th>
          <th>Doc_id</th>
          <th>Type</th>
          <th>Sdate</th>
          <th>Edate</th>
          <th>Year</th>
          <th>Month</th>
      </tr>
  </thead>
  <tbody>

  <%= render @reports %>

  </tbody>
</table>

</div>
<%= will_paginate(@reports) %>

<p>
<div class="col-md-8 col-md-offset-2">
<%= button_to "Create New Report", new_report_path, class: "btn btn-primary", method: 'get'  %>
</div>

