<% if controller_name == 'patients' %> 
   <% tool_tip_title = "Full/Partial Last Name, First Name, Health Number, Date Of Birth: [dd-mm-yyyy] or full email" %>
<% end %>

<li class="nav-item active mx-auto">
<%= form_with  method: :get, skip_enforcing_utf8: :true do |f| %>
  <div class="form-group">
    <div class="col-sm-12 col-md-10 padding-0">
	  <%= f.search_field :findstr, 
	   class: "has_tip form-control", 'data-toggle': 'tooltip', placement: 'top', 
     	   title: tool_tip_title, 
           placeholder: "Find #{controller_name.singularize}",
	   id: "findstr", :onChange => 'javascript: this.form.submit()',
           autocomplete: "off",
           value: params[:findstr]
          %>
     </div>
   </div>
<% end %>
</li>
<li style="width: 5px;">&nbsp;</li>

