<div class="col-xs-10 col-xs-offset-1">
<%= form_with  method: :get, skip_enforcing_utf8: :true do |f| %>
  <div class="form-group">
	  <%= f.search_field :findstr, 
	   class: "form-control", 
           placeholder: "Find #{controller_name.singularize}",
	   id: "findstr", :onChange => 'javascript: this.form.submit()',
           autocomplete: "off",
           value: params[:findstr]
          %>
     </div>
<% end %>
</div>
