<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

    <%= render 'layouts/logo' %>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
	<% if current_user.doctor? %>
           <%= render 'layouts/doc_navigation_links' %>
	<% else %>
           <%= render 'layouts/navigation_links' %>
	<% end %>
      <% else %>
  	   <li><%= link_to "Log in", login_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

