<% img = '<img src="/images/leaf2.png" width=35>' %> 
<% if logged_in? %>
   <%= render "layouts/#{device_type}_#{current_user.role}_navigation" %>
<% else %>
  <% if device_is_desktop? %>
    <nav class="navbar navbar-expand bg-secondary">
    <ul class="navbar-nav">
      <li class="nav-item"> <%= link_to "#{img} Stoney Creek Medical Walk-In Clinic".html_safe, root_path, id: "logo" %></li>
    </ul>

    <ul  class="navbar-nav ms-auto me-5">
    <li class="nav-item text-white"><i class="bi bi-clock"></i> Mon - Fri, 9am to 7:30pm; Sat,Sun: 9am to 1:30pm </li>
    <li> &nbsp; </li>
    </ul>

    </nav>
<% else %>
  <nav class="navbar navbar-expand bg-white navbar-mobile_">
  <ul class="nav navbar-nav ">
    <li class="nav-item mx-auto"><%= link_to "#{img} Stoney Creek Walk-In Clinic".html_safe, root_path, id: "mobile-logo" %> 
    <center> <small> 140 Centennial Pkwy N, Hamilton, ON L8E 1H9 </small></center>
  </li>
  </ul>
</nav>
<% end %>
<% end %>
