<li>
<%= form_with url: set_doctor_path do |f| %>
  <div class="form-group">
    <div class="col-sm-12 col-md-12 padding-0">
    <% doc_id = current_doctor.fake? ? nil : current_doctor.id %>
    <%= f.collection_select(:doc_id,
                            get_active_doctors,
                            :id,
                            :lname,
                            options = {prompt: 'Set Doctor', selected: doc_id},
                            html_options = {onchange: 'this.form.submit();'}
                           ) %>
    </div>
  </div>
  <% end %>
</li>
<li style="width:40px">&nbsp;</li>
